<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon_image</key>
	<data>
	iVBORw0KGgoAAAANSUhEUgAAAQAAAAENCAYAAADg7Lu4AAAAAXNSR0IArs4c6QAAAERl
	WElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAAB
	AAABAKADAAQAAAABAAABDQAAAACfet74AAAAHGlET1QAAAACAAAAAAAAAIcAAAAoAAAA
	hwAAAIYAAAuR+X1SGwAAC11JREFUeAHsnflvVNcZhkctEFLPDMbrYEBKJEhaaFoCzUIp
	ZZFIytoKTCgmpCwKKdDg2RePjQ3D2ICpbTAUCKSQpglQStUWoqgUwhZEIJQ9EFU07e/9
	Eyr16znTWIoly+ieWe7M+EF6NXiuzz33Pvf73rm2/J7rcPAPAhCAAAQgAAEIQAACEIAA
	BCAAAQhAAAIQgAAEIAABCEAAAhCAAAQgAAEIQAACEIAABCAAAQhAAAIQgAAEIAABCEAA
	AhCAAAQgAAEIQAACEIAABCAAAQhAAAIQgAAEIAABCEAAAhCAAAQgAAEIQAACEIAABCAA
	AQhAAAIQgAAEIAABCEAAAhCAAAQgAAEIQAACEIAABCAAAQhAAAIQgAAEIAABCEAAAhCA
	AAQgAAEIQAACEIAABCAAAQhAAAIQgAAEIAABCEAAAhCAAAQgAAEIQAACEIAABCAAAQhA
	AAIQgAAEIAABCEAAAhCAAAQgAAEIQAACEIAABCAAAQhAAAIQgAAEIAABCEAAAhCAAAQg
	AAEIQAACEIAABCAAAQhAAAIQgAAEIAABCEAAAhCAAAQgAAEIQAACEIAABCAAAQhAAAIQ
	gAAEIAABCEAAAhCAAAQgAAEIQAACEIAABCAAAQhAAAIQgAAEIAABCEAAAhCAAAQgAAEI
	QAACEMgygRbHIMebjscGpFocQ7JMl91DIL8JlIQqJzhjI2udgcqBpXBlrTvgme1Y7Ph6
	fl8hjg4CWSTgDFXvcjd4xBWqHliKqPMNVP/T0fLE0CziZdcQyG8CygC63DFlAEHVEANJ
	4dT5PsQA8rs+ObosE8AAuAPIcomx+3wmgAFgAPlcnxxblglgABhAlkuM3eczAQwAA8jn
	+uTYskwAA8AAslxi7D6fCWAAGEA+1yfHlmUCGAAGkOUSY/f5TAADwADyuT45tiwTwAAw
	gCyXGLvPZwIYAAaQz/XJsWWZAAaAAWS5xNh9PhNwhqs73bFqcaocgInszg+YHHNqjMoC
	qNeHjl1jHsvn68OxFTsBlUkvbSktdXjtUWV45J6qhlGiXo1UEaqRiqC5ygMjJB1VqvmN
	FEmN+8LtG1VmB/vUNfc5Hi/28ub8HkGgxFf9jCs2wu8KVuVcg4Jl/rnNL1xYk5wlqzbN
	tK7NM+XV+BRZEn1RfhqbbKRFgUmy0FB67GvN02RFywzLWqnG1DVP/ffwSE3YDvb6mjv9
	nhmPKA82FzsBV7h6tTuu4rg6nppjDQ6WS7R1gdztjsun3RHLut4dlbPJ9fJB0yr5cONq
	Ix33L5Gj3sVG0mMv7/DLlc6AZV3rCMuJ9jekXN0JOMNVOWevr7n6EaS72Oub83sEAbUQ
	xyq78viDA+USSc6XW90N8smusGVdVabx1+RaOdm0Uk5tXGWko/5X5H1vrZH02Is7vPJx
	h9+yrnQE5fj216Vc/QjhDCoDyPFaCPqa61/APqI82FzsBDAADKDYa5zz64cABoAB9FMe
	bCp2AhgABlDsNc759UMAA8AA+ikPNhU7AQwAAyj2Guf8+iGAAWAA/ZQHm4qdAAaAARR7
	jXN+/RDAADCAfsqDTcVOAAPAAIq9xjm/fghgABhAP+XBpmIngAFgAMVe45xfPwRKgpUr
	nSqPXxKoSkN6vHUNCpT9Pwuw2zALsDuadhbgiM4C1C8ykh57sb1eLqksgFVd6QiksgBl
	KgvwDZUFMFlXoETlB0y46zGpax6u7OynNNhUEATU46XdPneZiRxqXFVk9FpPfLRURUaZ
	K6zGGqg05JF4coHc3BWTKyoMZFU6QHRGhYF0EOiD5tVGOhZYIkd8i42kx178pU8uKwOw
	qk86QnJi+xqpCY2SCrUmQUVArWlgUZXBkVKt1lGoMlB1w2i9/sIeXQMmtaPHOFocPNnY
	bpNwrampcIVrQq5oTcQVtKZBweGRmS3fO17fPk/Wt80x0rq2H8naVjO93vaS7G9bLhe3
	1ctHW39hWee2vSlnWtfJ6cQbcnrLz410SiUJ/9y4wkjaeD5VdyHX98Yt68beRjmz0ytL
	A89LrX+SLLYq3ySpi0yWNYlZRlrX+rIs2PTiJV0DVusm9f2Nqtb8Vd+3u/4H/PxOn2e8
	ipL+16WfN29ROo+/rHWG/OudrfL5oS1Guv92Qu4daDHSZwc2ycXt9anm041oorNt6+WC
	ug031bntG8RU+vb/3q83y/3DWyzrwTtJubl/o/zOp9YjqK+1rCMbFsmp+Aq5sScuf+uO
	WdZne5ok1vZjGRwqt1w3us7c8RHi9FfHB3wD2g3gSwP4j/plnuVM+WB/uSzdMl0eHm5N
	FbIuZqu6c7BFbr210Ui3DzTLedWA6eT50zYAdReh7yRMpE0nPQNoSv3o8Z76HYRV/XbD
	QvlT/GdyTd2B6HURrOr27rhEWueLXpPBZC2CL9eQiNld/wN+fgwgzTsAw+bXhoEBVGMA
	djsQBoABWP3019/PHYDdnZuh+TEADAADyFAzFeJuMAAMAAMoxM7N0DFjABgABpChZirE
	3WAAGAAGUIidm6FjxgAwAAwgQ81UiLvBADAADKAQOzdDx4wBYAAYQIaaqRB3gwFgABhA
	IXZuho4ZA8AAMIAMNVMh7iZdA6hTWYAvDrfJ/UMJI907uEnuqL/pN9FdNfa8CgPpLMBJ
	lawzUbpZgPPqT3pNdUE9F/Ce4vZAhYGs6nMVBrq1v0mO+V6RIyoMZFXvqTDQSRUGur47
	lkok6lSiFd3d3SgxsgCF2PK9jzkdAxjir5CFialy7WCTXHqrwUgX90fk/N6wmfaF5fQ2
	9XRf1fwfqjy/iXSM2DQJqMfp8WcNpY1DB6Fuq0CUVd19e5Nc+1VMDvh+Ivu8C6yrfr68
	G18qp3fWy1+6rOvCzoBsSM6WIYEKwkC9W6qwvkrHAErUSjRPRJ6U6c0T5YcbnzXSVDXu
	B00TjDS58RlpTy6SG+1euaJSgVZ1VY25pOO8hnFgHejRdx+m6wHocTqRZyId5T3UsESe
	D3xTng08JRMta6w8F/6WTGn8jkyJW9fUxu/K09ExomuANGBh9Xyvo03HAPSF1wUwVH0K
	2KGv+UsllpgtDzpDcrPTZ6TLqvl1nl/Hiq1KG8AfG16TP0RfNdLvw3WpGK+O5lqVzvN3
	1s+RYeoaPB6szLmGqjn1UmQmza/HEAfu1Yb2fZGuAZgWQCbG6Sx6Q2KO3FcGcKPDZ1k3
	1Rg7DeBEZJm87621nOXX2X+9CEiXd66UBdXCGqqhMsEzl/vAAOzr+V4zYwD23QFgAKwH
	0KsZ7fgCA8AAcvnJ3zMXdwB2dHsfc2IAGEBPU+byFQPooxnteAsDwABy2fg9c2EAdnR7
	H3NiABhAT1Pm8hUD6KMZ7XgLA8AActn4PXNhAHZ0ex9zYgAYQE9T5vIVA+ijGe14CwPA
	AHLZ+D1zYQB2dHsfc2IAGEBPU+byFQPooxnteAsDwABy2fg9c2EAdnR7H3NiABhAT1Pm
	8hUD6KMZ7XgrIwagnhfvskH62YSNibny966I3OkIWNY9NebqDp9KBHrlYwNd0msRNKg0
	X3S5mSLL5Zh3sRyrt67jaky3d56UqUeDO21gn7reaWQQUgYQ8oTtqHnm/AqBtAxAFZ47
	7BF3g1LMUOopse5GMw1trJJViWlydOsK+c3W5Zb1rhpzILlM9ibrzLSlTtqjC2RbZJ6R
	tobnSsL3kmz2zbKspBrn90+T4bEacWr+JlLXzBVJQ+raGxtBVAeYqvY5g57ptsjnmeYI
	Vpd8pRUG5n/TNgBdeK014k4aattIKe0aLaWd1uXuGiVPJcbKlOi3ZXLDeCO9EBsvz8XG
	mSk6TiaGn5aJIXNNCIwVU40LjZFhmrvmb6JEjbiaVBObqFmN0wai7z5M7gT006jDnn8M
	i3jO5VwxNWfY85GKUj9pd9f/DwAA//+5++fhAAAOzUlEQVTtnd+vXFUVxwejltvOnDln
	5s6cM3Pnzi9u+VUi+mB88cEHEhEQhFSTIkqFKFGp0s7cufe2RS6UH20ptLSl0NJSCgga
	IPHd+KL/gTHGRBPlCR76YIIakoLL756509sHH7rXOZndc+Z7k2/uPMw6s/eavT5n7T1n
	7Z3LOf7L74y2FPrhhcJiKPhvp14o3t6aFA/NSfGgUkca4p9siv+yQqeasmlfTWZ2VmSm
	50Yb+1VxpiX4H3734H+V9telsFrT6QnY7YmkgDFgPW7G42wxEm/gQMv4zMXo03w/vMlx
	+Ln/+EQA8Kwy+A/AzgDABP9LCgEc3j4M4l0xBuF4MKbx/xIGsgEA/K/SMzEA8HgCAHDl
	89HN7oIZ++4j0HELCIAUw4MA0GUfBMA6dQgAAkA1DWAGsB5EaX5FABAABECaIzhm2wkA
	AoAAiBlEaTYnAAgAAiDNERyz7QQAAUAAxAyiNJsTAAQAAZDmCI7ZdgKAACAAYgZRms0J
	AAKAAEhzBMdsOwFAABAAMYMozeYEAAFAAKQ5gmO23TkAjqIW4JWW+KcUOt0S7yk8z26e
	KR8ohGKaoW2viqIWrXANUxCj0bjdph2a9q+gFuA51AFo9DzsDjiuBTB9Nn13oUH4aeHn
	9etihk/6zZ0CwFQQPj4nwUCpZdg/hCD4bkW8+xQydn3YP17X67GaeL9QyNjtge5HG7Tt
	v78qxYcjKe5QyNj1UdBjHunVVATGfRR4CLzor95S7bcT18roM4u9ytbicnhLsW+vfD/6
	2sKOhQ2pJ4BTAOAu5H8/lODGsgRfUOqGsvjXKtUNJOg1pHSuK6VX2ioFJ5oSvKiQsTs0
	Lz767S8o249+B1tmdbp+Voq3VqSAcmoXAPBQkpvvV08UepWvOlM//E1hd/SHwrJC/eh3
	+ZV8hQAw+wFoy4EPAwDfqkowg0D0lCrCTqsZX0q9eSm/tyDlt3UqvQZwnFXoHGyOtySo
	lyQoxOiDtu8bA/G/PCuFJx0BANOXwmI0cBZAq7nP4PP/YkBkvSeBgddi+O+Ng9m6s/Yn
	9cFOMwADgLsBgDwCIHCg/BoA3kXwv3WNSsPgfxXBbCsDjmMAQAMAMEE86f4DOv5XHAOg
	H64kNY6tr7Oa+yw2wfnTcO3Fdl+CUTnxPwmA8Y5AcTIAAoAAsI7eBAwIgJETmQFgCsAM
	wH4dIOYioGemAMwAEiBZzEsQAASAk0VAAiBm5CZkTgAQAAQAnkWwWQfgGsCaw7gGMPoF
	wHYB0Lyfi4CcAiR0E491GWYAzACYATADiHcuAH8F4M+ANik03stFwFj37eSMmQEwA2AG
	wAyAGQAfBLL7KZA/A/JBIFMBNzwajFMATgE4BUguLZ/klTgF4BSAUwBOATgF4BSAU4DL
	zWL4HMCV8RyA7/tSrValXq9LrVazVr1Sk8oAv8k7ehS4jGKg2ma0PbJv+7i/pRKKiTSF
	RCwGYjGQmWqkeQpgAGACodvtSqfTsVZ3riPhEvYCeEdXCWgqCNXVgCghLh9vS/tGtLtl
	33bT32azKQSAcsLMYqCR49IOAHP3VwOg0ZFo2TEAbkLwt3UAaLVaBIAy/nMEAAHQvRIA
	sIUA0MZwLDsCgAAgALghCDcE2RltQSVUKn8FMGsAqZ8CMAOIdSNXGzMDYAbADIAZADMA
	ZgBufwVgBqC+iccyZAbADIAZADMAZgDMAJgBODgYhOXAsfKX5Iz5HIDj5wA4BUhuMNtc
	iVOAkbcIAAKAxUAsBuLPgJMuBho/CswMwOa+ndx7mQEwA+AiIBcBuQjIRUAuAnIRkNuC
	45w0OyeY2ukkdgQyh4PioErNAZ++hycBIxQDtVENaApqLNWtoxhoBWsA76Ea8Fc6qQ8H
	xbbg5ROoBrwB7TbVgJZtN+9vzaMYyEc5sA//2QrnMTo/HJQnAyU3pdFeyeki4CEcDooz
	6v1t0L0aRVLZPi+1hzpS+2HbWtGP2jK3vSNz93Wl/j2l7u1IXaNtI7voB20JH4DMf0tV
	tzfF/3Yo/taqve6BzYOA+BMOTwcmALRhm5ydUwAcmJPi84DAC/PiH9UpONGS8kncTRUK
	TgMAd+Hu2+1I+zqlroWdRptxB7+5I6WDTQmOKXWkKd7Tc3rtq9vtAnTpVIGbgnJT0NhT
	AAOAIw3xT+JO9rJOwWmkwVhR1yh4oy2N2ztiNgbRpOCxbJD2m/Q/ONyUIvpfRP9t5Z8A
	AJBFqbWfAOAioMtFwDEATPC/pFPwCgCgOZoLNsHrAMAdAAD2BdDsKBTLBnN4sxtQ8Pwa
	+DT9fxEAwI7Maj1DABAABAABcGlqf7mvOQXgFCCxKQAzAF0GxAxAvxjGB4FGvnO+CGjW
	AAgAAkAfyjpLAoAA4BoA1wC4BsA1AK4BXO68/9L3cQ2AawBcA4jx6wF/BTBPnq7o8vcE
	rDgF4BSAUwBOATgF4BSAU4BLU/vLfc0pAKcAnAJwCmDGAFJ5a3FLsASmMUlcgj8D8klA
	7ghkCTCeDrzmsLjlwHwUmI8CJ3EX01yDi4Ajr6U+A4hTDPQmagG+6TgDQDHQsBhKUwtg
	ioHSXAvQC5c1sZuIjeSuwh4Yfy4s4WZm7ug2GuD9vfCjjYPZeiJtcXmRVAPgVFPCh1sy
	f2tHGrfZa/6OrkTX16U6W5UwDCeveiRzt7Sk8Q2Fvt6S+t0tKe5fqwbUgMBhMVBhEEl+
	MfxjoR+940JeP/o11i4ezA8qW/M9S8EGtnflduZmXMZuIp+dZgAUTzelvrUtHVTztTv2
	6lwDAISRmDMGgwC76kxYpVJJWh3sCmT2I7AVniNofqmdXgCYhcMBzqRcij52osXo4/zP
	5m/K7chtUCuRCHR8kSwAYFjOi4Cwrc/vdrrDu37RIQDaLQBM0XazjVjzZgDgmZRmABd/
	OYjwC8KEhewDn3kh34tudBx+7j8+MwBABmBbn9/tjgDgMgNotwEARduHAPhiFgCATOAi
	DCb0erSKf8GMffcR6LgFBAD21HOZARAABIBLBhAABICL5wAmfte/NMtgBrCOHAKAACAA
	1uNh6l4RAAQAATB1Yb/eYQKAACAA1uNh6l4RAAQAATB1Yb/eYQKAACAA1uNh6l4RAAQA
	ATB1Yb/eYQKAACAA1uNh6l4RAAQAATB1Yb/eYQKAAJhKAPTCT8zYX4+EKX1FABAABMCU
	Br/pdqoBcKYls3fWJQyqUq3aKyxXpfydOSntbUp5RadSryGlXQr1YfPTOak2Q6lW7Nte
	Rdsr14XipbQa0DMbcfSj1wu7wjsnrsHoM3OD2cIUh/6o62kGgA8ABLdHEmxS1vPnfSn1
	5qX8zmYp/7KrUumsOZ1Yoddgcwztb5Qk8BV7ERibbim9AFhBSW4v3J1bzX3emXK5qwiA
	NG8LPgRAGB8A7y1I+e1rVCq91pbSWYWM3RgARQUAjE3aAbDocEuwqY/8NQekPwNIAADv
	AgBvAQAKDYP/VQSzrQgAUwbs7mQgAmDkAQIAUwACQKwXAtN+MAgBQAAE4zUAAoAAmFYg
	MANgBmB99zfHhzEDyAYyCAACgADIRiyrekEAEAAEgCp0smFEABAABEA2YlnVCwKAACAA
	VKGTDSMCgAAgALIRy6peEAAEAAGgCp1sGBEABAABkI1YVvViCIBe+F8c1Gh3RPLocAXx
	Hq1JESfTFg8qdAA2Rxriv4wjsjXHY5tagNvwKPAMioFMcYytNqIYaJdjAMyhGKigaLux
	6TguBtprzthTjBuMHW83bBdRDMQ/tx4oPFy/Hl/EhwDAefy3Uz887+2tfTQMfhxTbY6q
	thJKWYuHAYAX58U/rhCOBw/uAgCqCAYTSLYKAyktOQTAcQBsc1mCGtpuqgJtZGy2lMV7
	GoeDAr4eYGqtp+r2TwCah4DG2h39BwCwGzNrY8xbic57/fARt6Ofn57Lncx97up+2NEK
	57wveXtAc1PfrRQGg6i0hKO9n0Rd/SGU1j6r0MGWlM90VEVA48IhdTGQqSA83RJ/P8D3
	lEJPw2ZfQ+3zi9+VyeQUMt/5pqXorHbcXL037OQe8X2G4JXhAVMXrVJhOdpugtfJWW+7
	sJvPcwDAOQS/qctXqPwG9gFQVAGObdQAMNWDZ9qj6Y9mCnQS06aj86PgvfTcuwm9Nt95
	vhce0Y6bNbsrY/SzFXoP4O7xgFMAHAIAtDX5uAtfEQDQrH8YaLgGwCA8rB85tMyEB64Y
	ANjW46+9nwDAFECRNQwzgMVhBpCJccxOKD1AACg2AxnDajwFSGsGQAAooyZDZgQAAZCh
	4cyu2HqAACAAbMcM358hDxAABECGhjO7YusBAoAAsB0zfH+GPEAAEAAZGs7siq0HCAAC
	wHbM8P0Z8gABQABkaDizK7YeIAAIANsxw/dnyAMEAAGQoeHMrth6AGXEDw6rAc1+ApMW
	HmEdFQMhCDXn85lagDdRDKQ8F9DYaT93XESk3gvB1AIcQzHQpH2+9nnmO88vhkdtxwvf
	nzEPeIvhNjwX/gEygcmrF34QPNv4l6mqK51S6mwH1YRdvU4rP9e09ySqATX7IBgbs4fC
	C41PAIAPXfjefOf5pXBfxoYzu2PtgX64aWZPaX5mlxsVdkdnio8q9xMY7kNQw+40MaTd
	y2Bst4zdcTTabeyif2xYriw48T2+89yPi4H1eKFBJj2g2ksAnohtZ2rSnZUjK6roNJV3
	/9fGpOL98G+5HQsbkvCj8hqZHMzsVIo8kEdN+lQDYLV9dYq+LjaVHkjWA1iImu4MgABI
	dkDxaunyAAHADCBdI5atTdQDBAABkOiA4sXS5QECgABI14hlaxP1AAFAACQ6oHixdHmA
	ACAA0jVi2dpEPUAAEACJDiheLF0eIAAIgHSNWLY2UQ8QAARAogOKF0uXBwgAAiBdI5at
	TdQDBAABkOiA4sXS5QEA4Kiz/Qgc1eIP9wBABSHKgP+e46PA6RqwbG2yHsj3q4+hGOj9
	fD+cLg3C9wv96Pe5o8NqwGSdyqvRA6nxAMphK6uVfOUnUyb0ub5a35ia74kNpQfoAXqA
	HqAH6AF6gB6gB+gBeoAeoAfoAXqAHqAH6AF6gB6gB+gBeoAeoAfoAXpgOjzwP4uFZzxR
	9dH9AAAAAElFTkSuQmCC
	</data>
	<key>icon_title</key>
	<string>Coffee</string>
	<key>newOrder</key>
	<array>
		<dict>
			<key>name</key>
			<string>Turn on  "Use Experimental Gameplay" in your world.</string>
			<key>type</key>
			<string>string_info</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>5</integer>
			<key>has_command</key>
			<true/>
			<key>is_id</key>
			<true/>
			<key>name</key>
			<string>ID</string>
			<key>type</key>
			<string>string_editable</string>
			<key>value</key>
			<string>coffee</string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>6</integer>
			<key>name</key>
			<string>Name</string>
			<key>type</key>
			<string>string_editable</string>
			<key>use_as_filename</key>
			<true/>
			<key>value</key>
			<string>Coffee</string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>7</integer>
			<key>name</key>
			<string>Skin</string>
			<key>possible_values</key>
			<array>
				<string>food_001.png</string>
				<string>food_002.png</string>
				<string>food_003.png</string>
				<string>food_004.png</string>
				<string>food_005.png</string>
				<string>food_006.png</string>
				<string>food_007.png</string>
				<string>food_008.png</string>
				<string>food_009.png</string>
				<string>food_010.png</string>
				<string>food_011.png</string>
				<string>food_012.png</string>
				<string>food_013.png</string>
				<string>food_014.png</string>
				<string>food_015.png</string>
				<string>food_016.png</string>
				<string>food_017.png</string>
				<string>food_018.png</string>
				<string>food_019.png</string>
				<string>food_020.png</string>
				<string>food_021.png</string>
				<string>food_022.png</string>
				<string>food_023.png</string>
				<string>food_024.png</string>
				<string>food_025.png</string>
				<string>food_026.png</string>
				<string>food_027.png</string>
				<string>food_028.png</string>
				<string>food_029.png</string>
				<string>food_030.png</string>
				<string>food_031.png</string>
				<string>food_032.png</string>
				<string>food_033.png</string>
				<string>food_034.png</string>
				<string>food_035.png</string>
				<string>food_036.png</string>
				<string>food_037.png</string>
				<string>food_038.png</string>
				<string>food_039.png</string>
				<string>food_040.png</string>
				<string>food_041.png</string>
				<string>food_042.png</string>
				<string>food_043.png</string>
				<string>food_044.png</string>
				<string>food_045.png</string>
				<string>food_046.png</string>
				<string>food_047.png</string>
				<string>food_048.png</string>
				<string>food_049.png</string>
				<string>food_050.png</string>
				<string>food_051.png</string>
				<string>food_052.png</string>
				<string>food_053.png</string>
				<string>food_054.png</string>
				<string>food_055.png</string>
				<string>food_056.png</string>
				<string>food_057.png</string>
				<string>food_058.png</string>
				<string>food_059.png</string>
				<string>food_060.png</string>
				<string>food_061.png</string>
				<string>food_062.png</string>
				<string>food_063.png</string>
				<string>food_064.png</string>
				<string>food_065.png</string>
				<string>food_066.png</string>
				<string>food_067.png</string>
				<string>food_068.png</string>
				<string>food_069.png</string>
				<string>food_070.png</string>
				<string>food_071.png</string>
				<string>food_072.png</string>
				<string>food_073.png</string>
				<string>food_074.png</string>
				<string>food_075.png</string>
				<string>food_076.png</string>
				<string>food_077.png</string>
				<string>food_078.png</string>
				<string>food_079.png</string>
				<string>food_080.png</string>
				<string>food_081.png</string>
				<string>food_082.png</string>
				<string>food_083.png</string>
				<string>food_084.png</string>
				<string>food_085.png</string>
				<string>food_086.png</string>
				<string>food_087.png</string>
				<string>food_088.png</string>
				<string>food_089.png</string>
				<string>food_090.png</string>
				<string>food_091.png</string>
				<string>food_092.png</string>
				<string>food_093.png</string>
				<string>food_094.png</string>
				<string>food_095.png</string>
				<string>food_096.png</string>
				<string>food_097.png</string>
				<string>food_098.png</string>
				<string>food_099.png</string>
				<string>food_100.png</string>
				<string>food_101.png</string>
				<string>food_102.png</string>
				<string>food_103.png</string>
				<string>food_104.png</string>
				<string>food_105.png</string>
				<string>food_106.png</string>
				<string>food_107.png</string>
				<string>food_108.png</string>
				<string>food_109.png</string>
				<string>food_110.png</string>
				<string>food_111.png</string>
				<string>food_112.png</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>4DB8E49A-E68F-4168-BB14-18CE9824CE63.png</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foil</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Can Always Eat</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Animation</string>
			<key>possible_values</key>
			<array>
				<string>eat</string>
				<string>drink</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>drink</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Convert After Using</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>name</key>
					<string>Converts To</string>
					<key>type</key>
					<string>string_selectable</string>
					<key>value</key>
					<string>minecraft:glass_bottle</string>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>expandable</key>
			<true/>
			<key>food_values</key>
			<dict>
				<key>absorption</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>1</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>haste</key>
				<dict>
					<key>amplifier</key>
					<integer>99</integer>
					<key>chance</key>
					<real>1</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>health_boost</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>0.5</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>jump_boost</key>
				<dict>
					<key>amplifier</key>
					<integer>17</integer>
					<key>chance</key>
					<real>1</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>night_vision</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>0.05000000074505806</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>resistance</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>0.054999999701976776</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>speed</key>
				<dict>
					<key>amplifier</key>
					<integer>5</integer>
					<key>chance</key>
					<real>1</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Effects</string>
			<key>possible_values</key>
			<array>
				<string>speed</string>
				<string>slowness</string>
				<string>haste</string>
				<string>mining_fatigue</string>
				<string>strength</string>
				<string>instant_health</string>
				<string>instant_damage</string>
				<string>jump_boost</string>
				<string>nausea</string>
				<string>regeneration</string>
				<string>resistance</string>
				<string>fire_resistance</string>
				<string>water_breathing</string>
				<string>invisibility</string>
				<string>blindness</string>
				<string>night_vision</string>
				<string>hunger</string>
				<string>weakness</string>
				<string>poison</string>
				<string>wither</string>
				<string>health_boost</string>
				<string>absorption</string>
				<string>saturation</string>
				<string>levitation</string>
				<string>fatal_poison</string>
				<string>conduit_power</string>
				<string>slow_falling</string>
				<string>bad_omen</string>
				<string>village_hero</string>
			</array>
			<key>type</key>
			<string>select_multiple</string>
			<key>value</key>
			<array>
				<string>health_boost</string>
				<string>speed</string>
				<string>night_vision</string>
				<string>haste</string>
				<string>absorption</string>
				<string>resistance</string>
				<string>jump_boost</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Remove Effects</string>
			<key>possible_values</key>
			<array>
				<string>speed</string>
				<string>slowness</string>
				<string>haste</string>
				<string>mining_fatigue</string>
				<string>strength</string>
				<string>instant_health</string>
				<string>instant_damage</string>
				<string>jump_boost</string>
				<string>nausea</string>
				<string>regeneration</string>
				<string>resistance</string>
				<string>fire_resistance</string>
				<string>water_breathing</string>
				<string>invisibility</string>
				<string>blindness</string>
				<string>night_vision</string>
				<string>hunger</string>
				<string>weakness</string>
				<string>poison</string>
				<string>wither</string>
				<string>health_boost</string>
				<string>absorption</string>
				<string>saturation</string>
				<string>levitation</string>
				<string>fatal_poison</string>
				<string>conduit_power</string>
				<string>slow_falling</string>
				<string>bad_omen</string>
				<string>village_hero</string>
			</array>
			<key>type</key>
			<string>select_multiple</string>
			<key>value</key>
			<array>
				<string>slowness</string>
				<string>blindness</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>On Use Action</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>name</key>
					<string>Randomize</string>
					<key>type</key>
					<string>bool</string>
					<key>value</key>
					<false/>
				</dict>
				<dict>
					<key>is_function</key>
					<true/>
					<key>name</key>
					<string>Action</string>
					<key>need_image</key>
					<false/>
					<key>possible_values</key>
					<array>
						<string>example_function</string>
					</array>
					<key>type</key>
					<string>select_multiple</string>
					<key>value</key>
					<string>example_function</string>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleport</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>max_value</key>
					<integer>64</integer>
					<key>min_value</key>
					<integer>1</integer>
					<key>name</key>
					<string>Range</string>
					<key>type</key>
					<string>integer</string>
					<key>value</key>
					<integer>8</integer>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Hand Equipped</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Saturation</string>
			<key>possible_values</key>
			<array>
				<string>poor</string>
				<string>low</string>
				<string>normal</string>
				<string>good</string>
				<string>high</string>
				<string>supernatural</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>good</string>
		</dict>
		<dict>
			<key>max_value</key>
			<string>1024</string>
			<key>min_value</key>
			<integer>0</integer>
			<key>name</key>
			<string>Use Duration</string>
			<key>type</key>
			<string>float</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>max_value</key>
			<integer>14</integer>
			<key>min_value</key>
			<integer>0</integer>
			<key>name</key>
			<string>Nutrition</string>
			<key>type</key>
			<string>float</string>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>max_value</key>
			<integer>64</integer>
			<key>min_value</key>
			<integer>1</integer>
			<key>name</key>
			<string>Max Stack Size</string>
			<key>type</key>
			<string>integer</string>
			<key>value</key>
			<real>1</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Crafting Recipe</string>
			<key>type</key>
			<string>recipe</string>
			<key>value</key>
			<string>#,minecraft:dye 0,#,#,minecraft:potion 0,#,#,minecraft:sugar 0,#</string>
			<key>value_array</key>
			<array>
				<string>#</string>
				<dict>
					<key>data</key>
					<string>0</string>
					<key>id</key>
					<string>minecraft:dye</string>
					<key>image</key>
					<string>gray_cocoa_beans.png</string>
					<key>name</key>
					<string>cocoa beans</string>
				</dict>
				<string>#</string>
				<string>#</string>
				<dict>
					<key>data</key>
					<string>0</string>
					<key>id</key>
					<string>minecraft:potion</string>
					<key>image</key>
					<string>gray_water_bottle.png</string>
					<key>name</key>
					<string>water bottle</string>
				</dict>
				<string>#</string>
				<string>#</string>
				<dict>
					<key>data</key>
					<string>0</string>
					<key>id</key>
					<string>minecraft:sugar</string>
					<key>image</key>
					<string>gray_sugar.png</string>
					<key>name</key>
					<string>sugar</string>
				</dict>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
			</array>
			<key>value_on</key>
			<true/>
		</dict>
	</array>
	<key>personalized</key>
	<dict>
		<key>configuration_file</key>
		<string>foodCreationSettings</string>
		<key>image</key>
		<string>food_040.png</string>
		<key>json_file</key>
		<string>new_weapon.json</string>
		<key>name</key>
		<string>Food</string>
	</dict>
	<key>version</key>
	<integer>5</integer>
</dict>
</plist>
