<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon_image</key>
	<data>
	iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAERl
	WElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAAB
	AAAAEKADAAQAAAABAAAAEAAAAAA0VXHyAAAAHGlET1QAAAACAAAAAAAAAAgAAAAoAAAA
	CAAAAAgAAAFkBXGFUgAAATBJREFUOBG0kMtKQmEUhc3j7ehEaBRNepLMW6VBowZlYIbm
	QCWNhlkZZGjlpRtEREgQOAgvR0h7haa9SZLGwfj6SbIoolF7T/fa31pLo/mPOfDIbNmN
	JCcMnMzoyXlljrw6/mQlx7Wk7FrO5yVYa/EwvAchBW40HPuspJ0S+5O/PEo5TZzOylwH
	zKjBCi+PZli/R2Ah3mQsr3Lht3Lpt5BxaX+62bAZKC31RZ3FMu1IhadolU5coR2+xSi2
	G6tztiCzbf/moujRceU30S0J2uodaqwByzWSNolNh0w3XH13o0YVeqEahTkDaZf+08WO
	2wIrCq/BGqO5HgTr7DqGBgeHHhMkmqgR0YcAPPvKoo8vMYpTgpxo9fMGqmTd0kD80Xxh
	Wkcv2mAkD4QbZF19wBsAAAD//1SMGd8AAAE0SURBVKWQzUpCURSFL9f/FHFWb5OW1qUo
	GvaDilFaWKRNFSmlSAcqCTlIQppEhJpa6hvUpEmTHkRvZRBfRyGVcNaCM9l77bW/syVJ
	KOnSIKkSHc8tz5Y46XmZXn1UMacFbnTgu+fJmuBEsQw92UUD7DVgv0E7UIJwi+i0dmCI
	OozgrfT7vEmw+0BmThr0pVOnhoLHDNs11FCd73ATQk2OHTIZRQZ/XbwaYoKvnSoFt4mk
	YhoG9FDTioaLVQMfwSrdVxm1qKW7WeJlMkV76w7VX6Yj6IpeI9mlEfzff+ZWrFz7Jsiv
	6VHFpvdAhU+/wA4+ImDBUya3YePKZyO3IG42TufLZmIOHfl1Exy2mDrrwEGzf9xLt1kM
	ysRdf9DHBUXseuIzWiJ2A4lZHUd2uR88zvvv2g+6qG2Vhbu6yQAAAABJRU5ErkJggg==
	</data>
	<key>icon_title</key>
	<string>Doughnut</string>
	<key>newOrder</key>
	<array>
		<dict>
			<key>name</key>
			<string>Turn on  "Use Experimental Gameplay" in your world.</string>
			<key>type</key>
			<string>string_info</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>5</integer>
			<key>has_command</key>
			<true/>
			<key>is_id</key>
			<true/>
			<key>name</key>
			<string>ID</string>
			<key>type</key>
			<string>string_editable</string>
			<key>value</key>
			<string>doughnut</string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>6</integer>
			<key>name</key>
			<string>Name</string>
			<key>type</key>
			<string>string_editable</string>
			<key>use_as_filename</key>
			<true/>
			<key>value</key>
			<string>Doughnut</string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>7</integer>
			<key>name</key>
			<string>Skin</string>
			<key>possible_values</key>
			<array>
				<string>food_001.png</string>
				<string>food_002.png</string>
				<string>food_003.png</string>
				<string>food_004.png</string>
				<string>food_005.png</string>
				<string>food_006.png</string>
				<string>food_007.png</string>
				<string>food_008.png</string>
				<string>food_009.png</string>
				<string>food_010.png</string>
				<string>food_011.png</string>
				<string>food_012.png</string>
				<string>food_013.png</string>
				<string>food_014.png</string>
				<string>food_015.png</string>
				<string>food_016.png</string>
				<string>food_017.png</string>
				<string>food_018.png</string>
				<string>food_019.png</string>
				<string>food_020.png</string>
				<string>food_021.png</string>
				<string>food_022.png</string>
				<string>food_023.png</string>
				<string>food_024.png</string>
				<string>food_025.png</string>
				<string>food_026.png</string>
				<string>food_027.png</string>
				<string>food_028.png</string>
				<string>food_029.png</string>
				<string>food_030.png</string>
				<string>food_031.png</string>
				<string>food_032.png</string>
				<string>food_033.png</string>
				<string>food_034.png</string>
				<string>food_035.png</string>
				<string>food_036.png</string>
				<string>food_037.png</string>
				<string>food_038.png</string>
				<string>food_039.png</string>
				<string>food_040.png</string>
				<string>food_041.png</string>
				<string>food_042.png</string>
				<string>food_043.png</string>
				<string>food_044.png</string>
				<string>food_045.png</string>
				<string>food_046.png</string>
				<string>food_047.png</string>
				<string>food_048.png</string>
				<string>food_049.png</string>
				<string>food_050.png</string>
				<string>food_051.png</string>
				<string>food_052.png</string>
				<string>food_053.png</string>
				<string>food_054.png</string>
				<string>food_055.png</string>
				<string>food_056.png</string>
				<string>food_057.png</string>
				<string>food_058.png</string>
				<string>food_059.png</string>
				<string>food_060.png</string>
				<string>food_061.png</string>
				<string>food_062.png</string>
				<string>food_063.png</string>
				<string>food_064.png</string>
				<string>food_065.png</string>
				<string>food_066.png</string>
				<string>food_067.png</string>
				<string>food_068.png</string>
				<string>food_069.png</string>
				<string>food_070.png</string>
				<string>food_071.png</string>
				<string>food_072.png</string>
				<string>food_073.png</string>
				<string>food_074.png</string>
				<string>food_075.png</string>
				<string>food_076.png</string>
				<string>food_077.png</string>
				<string>food_078.png</string>
				<string>food_079.png</string>
				<string>food_080.png</string>
				<string>food_081.png</string>
				<string>food_082.png</string>
				<string>food_083.png</string>
				<string>food_084.png</string>
				<string>food_085.png</string>
				<string>food_086.png</string>
				<string>food_087.png</string>
				<string>food_088.png</string>
				<string>food_089.png</string>
				<string>food_090.png</string>
				<string>food_091.png</string>
				<string>food_092.png</string>
				<string>food_093.png</string>
				<string>food_094.png</string>
				<string>food_095.png</string>
				<string>food_096.png</string>
				<string>food_097.png</string>
				<string>food_098.png</string>
				<string>food_099.png</string>
				<string>food_100.png</string>
				<string>food_101.png</string>
				<string>food_102.png</string>
				<string>food_103.png</string>
				<string>food_104.png</string>
				<string>food_105.png</string>
				<string>food_106.png</string>
				<string>food_107.png</string>
				<string>food_108.png</string>
				<string>food_109.png</string>
				<string>food_110.png</string>
				<string>food_111.png</string>
				<string>food_112.png</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>food_019</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foil</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Can Always Eat</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Animation</string>
			<key>possible_values</key>
			<array>
				<string>eat</string>
				<string>drink</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>eat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Convert After Using</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>name</key>
					<string>Converts To</string>
					<key>type</key>
					<string>string_selectable</string>
					<key>value</key>
					<string>minecraft:glass_bottle</string>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>expandable</key>
			<true/>
			<key>name</key>
			<string>Effects</string>
			<key>possible_values</key>
			<array>
				<string>speed</string>
				<string>slowness</string>
				<string>haste</string>
				<string>mining_fatigue</string>
				<string>strength</string>
				<string>instant_health</string>
				<string>instant_damage</string>
				<string>jump_boost</string>
				<string>nausea</string>
				<string>regeneration</string>
				<string>resistance</string>
				<string>fire_resistance</string>
				<string>water_breathing</string>
				<string>invisibility</string>
				<string>blindness</string>
				<string>night_vision</string>
				<string>hunger</string>
				<string>weakness</string>
				<string>poison</string>
				<string>wither</string>
				<string>health_boost</string>
				<string>absorption</string>
				<string>saturation</string>
				<string>levitation</string>
				<string>fatal_poison</string>
				<string>conduit_power</string>
				<string>slow_falling</string>
				<string>bad_omen</string>
				<string>village_hero</string>
			</array>
			<key>type</key>
			<string>select_multiple</string>
			<key>value</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>Remove Effects</string>
			<key>possible_values</key>
			<array>
				<string>speed</string>
				<string>slowness</string>
				<string>haste</string>
				<string>mining_fatigue</string>
				<string>strength</string>
				<string>instant_health</string>
				<string>instant_damage</string>
				<string>jump_boost</string>
				<string>nausea</string>
				<string>regeneration</string>
				<string>resistance</string>
				<string>fire_resistance</string>
				<string>water_breathing</string>
				<string>invisibility</string>
				<string>blindness</string>
				<string>night_vision</string>
				<string>hunger</string>
				<string>weakness</string>
				<string>poison</string>
				<string>wither</string>
				<string>health_boost</string>
				<string>absorption</string>
				<string>saturation</string>
				<string>levitation</string>
				<string>fatal_poison</string>
				<string>conduit_power</string>
				<string>slow_falling</string>
				<string>bad_omen</string>
				<string>village_hero</string>
			</array>
			<key>type</key>
			<string>select_multiple</string>
			<key>value</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>On Use Action</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>name</key>
					<string>Randomize</string>
					<key>type</key>
					<string>bool</string>
					<key>value</key>
					<false/>
				</dict>
				<dict>
					<key>is_function</key>
					<true/>
					<key>name</key>
					<string>Action</string>
					<key>need_image</key>
					<false/>
					<key>possible_values</key>
					<array>
						<string>example_function</string>
					</array>
					<key>type</key>
					<string>select_multiple</string>
					<key>value</key>
					<string>example_function</string>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleport</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>max_value</key>
					<integer>64</integer>
					<key>min_value</key>
					<integer>1</integer>
					<key>name</key>
					<string>Range</string>
					<key>type</key>
					<string>integer</string>
					<key>value</key>
					<integer>8</integer>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Hand Equipped</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Saturation</string>
			<key>possible_values</key>
			<array>
				<string>poor</string>
				<string>low</string>
				<string>normal</string>
				<string>good</string>
				<string>high</string>
				<string>supernatural</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>normal</string>
		</dict>
		<dict>
			<key>max_value</key>
			<string>1024</string>
			<key>min_value</key>
			<integer>0</integer>
			<key>name</key>
			<string>Use Duration</string>
			<key>type</key>
			<string>float</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>max_value</key>
			<integer>14</integer>
			<key>min_value</key>
			<integer>0</integer>
			<key>name</key>
			<string>Nutrition</string>
			<key>type</key>
			<string>float</string>
			<key>value</key>
			<real>2</real>
		</dict>
		<dict>
			<key>max_value</key>
			<integer>64</integer>
			<key>min_value</key>
			<integer>1</integer>
			<key>name</key>
			<string>Max Stack Size</string>
			<key>type</key>
			<string>integer</string>
			<key>value</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Crafting Recipe</string>
			<key>type</key>
			<string>recipe</string>
			<key>value</key>
			<string>#,#,#,#,#,#,#,#,#</string>
			<key>value_on</key>
			<false/>
		</dict>
	</array>
	<key>personalized</key>
	<dict>
		<key>configuration_file</key>
		<string>foodCreationSettings</string>
		<key>image</key>
		<string>food_040.png</string>
		<key>json_file</key>
		<string>new_weapon.json</string>
		<key>name</key>
		<string>Food</string>
	</dict>
	<key>version</key>
	<integer>5</integer>
</dict>
</plist>
