<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon_image</key>
	<data>
	iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAAAXNSR0IArs4c6QAAAERl
	WElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAAB
	AAAAgKADAAQAAAABAAAAgAAAAABIjgR3AAAAHGlET1QAAAACAAAAAAAAAEAAAAAoAAAA
	QAAAAEAAABqh8dbgCgAAGm1JREFUeAHs3G3snmV5BnA/77uJ2TBmMU43Z5ZRESzGTcE6
	8ZWim0KJqW1kUlyMtCATP8g7RaahUrGCRqgF2/phlheh5YsIrSig1rbCwBkyFBJ0A40Y
	327P3/k8x5NnVaOm/6KFm+TKdd/Xfb2c13Ec53md9/38yzOeMf43IjAiMCIwIjAiMCIw
	IjAiMCIwIjAiMCIwIjAiMCIwIjAiMCIwIjAiMCIwIjAiMCIwIjAiMCIwIjAiMCIwIjAi
	MCIwIjAicEghcM1zXz78JoOvftaRg+K5On3SnjrtY30IIYDUneedOdyycvmwZ/P6YdOi
	JX295XVvaMLdX/8vbx92bbhg2HnFKcOX1iyfCWDz+04Ytp77zh7vub7EoN7+7vf0OPO4
	P4QgOfRNjUeqEXHfzq1N4I0feu/Mi5H+vS9fMfz3bR8fdu/Y2GXraYuHLae/erjmHYu6
	/cF7rh++9p+XDGp9tp5z0nDTJSt7vjuuWjPcetkpLYo9G1cNn1l17PDplYsHc3z+7KXd
	Tx/jv3Xz5cOtH1o2EAOhfftTHxgFsZAyA+zta1c0uDyaN3550/nDVze+rwsSkILYDW9b
	NGxevnjgvbdfdvLwyL6bhkfuv6NrfRBJBMh94vt7u908uzZfNty97YrhhnOWDg9sO2t4
	dM9nm2x9FWvqQwS7t57bAiI8AjPG2p879fBhx/uP7vEblhzVghBdFhKLp91cvBzId336
	1GHHOUuaeITzxG2rj27ikcl7kb5j/RlNFJLc89IIBVEhVD+eTwTa3Cuut678++FLa1/b
	c+ujsMFcG089ugUgYhBXbBE5tp23rMewjRjMRSSiVI4K+3nakfj7bhhIwFJ48uPfvrFB
	/u5dG9vz+kwucJHAEzcsfeFwx7qlLYyNJ76wxXHfjRc2KemDGMSGHBGAdz/xyK7BvO6R
	mEghSvzy598dhuEnLQ6ebV1kEoBxRON68+mLhxvOelk/Iy7zKY4E9rPROGubZ++WNcOD
	Oy7qteQjoxjmlCGRAh6PcZ4iF6jC+I3vXzLzVsQCdx5gBCPx4dsvboCd/SHMfDzYkYFs
	BWnXn7ZouG7pnze5+vzfg7v6qDCvdUWVWy9Z2kTLLRwPogx75ATEiWDFnEi2/o/u39Tj
	CUSb57/48b29r/XHHjbcfumbZ3vaturVnUD+treTOXie2pcSJwTyVp6IcETHiwF+10cr
	I6/QrA05+v3y8a8MN6w9udt4GIKQhXykiArq7eef3IVQjOXl+jgaRIz7Nr27BcXTH3tw
	e4tCH8eIe+sgXlvGJllkR5JL4ll/3F91RCJC0aKfl91blr+gBWXdRIYnHnuohdV7LVtF
	wKeFGIS+vDqphUxkCK3ABiiQeC1SgQq4hGKRgrc9etu/d5/048kKchAlREdIxiCEh5qr
	o0hFGZFAMca5Lkx7Tmyu7/7Esi6ERjxsICoRyj27rRHb2M3e7ecf3+T/9Hs3dwQS1exL
	X/OLDqKOV88ICA55VX3KujzChVOeQfHA5L3uAQA44Otz/75dTQqgQ67nwiiPEikQqyBC
	ti/cCvlA5vHmV5B51+UnDV88/7hOHj1HhmeIN8YaogZytCP5wiOf3TWRsVHoJxbjRQj5
	hOJeQWYIZZN5jRFJ0sfxYG/yDHvVbt09V69oYdsbbJ6SInC+AlXhNTyRAAAQgHhvgPRM
	HyE47/WPPryvyUIIL5JxI0xf4JmLaGTu5iQUtbXVhEYsxnrlQ4hxt6w+vI8i90QlGexS
	Ucn8SggzD4FoIzSeT7SP/ejhJpZgCMzahOANhsDYLMqJRt5iPE9xb99yD2LtNZYc1a+/
	iZiHtCi8GwMMUAoC4i02+5tKzlzker9HrDYkKsATXrUL00jmoeYHduY0Jp6NXAJAghwA
	IZ7p63XTuBZAtXu+d8uqPmp4szEEknWQypOJ2bqeiQwiVWy3R/YnihGdtwFRaZ58fYhG
	ckiMnvVbRonzoZuumx2bh5QIJDWIRx5ghFvhEJghCajOf/cEAgRhFcF9jpdHI0IU4CUh
	DrBIR1yEoT/ggN8RoZ4h09kv0TQvokQVpDtOvA0Iv+bIWW0OAjWGN7vnxQhBvrHW6DeK
	9y6aidAcznX9FYJgu5o9t519RAvMHuARXBxdIpz59HPNVmLQZhxRHDKvjoj3FYzq410I
	dW/T2hRgISTJFTKFVpvv83j6sUc/4jAGOLwHMfEqZBGVcIsgIjKX0Izs72w7rcHkfQjx
	Vc9Y/ZHOY9XuzUtY7fElTGTxWIS2SKZC0ReJnSDWWM/NI6K4Zi/xEbzjKIIkdoQThT06
	wnZftbJfL41zzBDXD75xZR8F15fAblm9uAvsDok3BZ9OebvCKxEhc1ev/acXdw5g88ju
	UiR51gKoa228HQiSqI4SRQQygQR4oEYAnhOYWjuh5EggBvOphXdFXwWJCk8nCuQjRsk6
	BONtwLP2+hKYZ4TINseG9TwjVHmDvgQgaiCcmLyiekMwVkG8Oseg/RLvF897Re/B3PbC
	872p6MsW+cGfpAgkKrw+r0EM5lW8E2FA7uupMJzDvALxQEQ+EI0DBGAA6LNsrhEjYiBT
	1NA/x4Z5eKDXQ+QjVLZNJMaYnz2ii7DqOgJiH28lCkkY4NmHULZZT1/2O6oIWxQiOISz
	gwiscc8nJkcDWxBPfDAxp772xwYi0V+xP3NY35ra/K5ADPaveIPZecExPXbfJ0/uXy6/
	fuWaP523BZ4FJETYHABtOp7jWggFSkeGIlAGbdMPbD1tRqYPNwGzwasvaADiccIpAoAV
	AejrZ1tzAZq3eGYtpPJwAjCG4BCTcxyBwjFv1G6MfvINa/E4RESQbCfC9sT6OCV38K6f
	o4EN5iIwgke4NQhMrkHQbECm+c2FbKIQ+tkLQ0cOkSjWJyofw+5Ye8xw53+8tqPAraf/
	9bD746/54yeH3ll5CaJtikcK1T592pgNIQ2Z2hPqe9NF7NpXPr/bjSMGQgLor3l5HRnG
	IhzBwHNETDLqSR6RZ/EsawjfogKReI5gtSjB25QcBQi0B2FbbZx1RBPeb4w5HV8EjSBi
	YLN2SaXIwv70u+Fdz+/XTAKbL8SgEJuoY6x75z3Sefvd617TUUAk0MZx4ElMnMZXUnnB
	H+010cKUjly1zTehdd/nWSkd4IhX4okI6rbqh1Rf/LRJhoBEDCHRtedIVyNPm1wiEcJ3
	hYxJZDCeLYr3fOQ6h42Px6oJAMlq9iFUtPmfm8/s4hrxvFg/9tkb0vT92UPXNnHa7R+h
	TWpdE4HopW9Eok2JANQiAkFxJPMYL9oYg2Ti0Edf4hTliEA+4DkhPukikIj4dMnzESGE
	MRxI6gAr5NkwsB///nf6Gjk8fN4jtSVChGykmk+tr7VcE42+iR7W104gEYk5FP3UAOU9
	hKCwx9xIQ7x7NVu1iwqIUyMf+PFuJCFWX28YM8+v/ubJ3OzlGI4Z3wskesbAx7zxekcG
	Yh0ZhCDCeJtw7zuEHEAEYL/7B7asmESGEoUI1/lI/bbwpInA+2gTX+C2YkuhQrEzzD0y
	hStAIwtw1Iz0kOW5fiFKpHDN25DtmfmEYmDlTESSPgqyAeXoiEi0AVGba/2IoMU5/fk4
	c2SNzkuK5BDHXsLVz1wyciIg6ia4nnckqdp+2d7iKAG4Fsm8chpDKN6AJGz6yhF4MLwI
	Qx/tjkxe7S+KHG2uFUdIHwHT4wEejgc5gXZRiHhgRDBPyh+h+JOr9q7yPGEIMICi9j7v
	C3AAAR6IxMKr3CPKPdBdm4dIkOEeIK6Fa8DrB3SAaTevOVNLwiSOyO5y7jsbQOIhQGuZ
	l/AUcyQKIAv4bBdKzQtIpYkuQv3NgcSLt7YAinTPHQPGsyOFd2t35CAPqdbk0UrCPhF4
	rk3fHJeiaEgnWHtXE4zcQF/7IjD2SELVOLAPUeYbl37w4L4ZSPo6dBY4zixhkrchUTuQ
	hGb3zk8JlAIkbeve9YaZeBCjaFdL1GTNQp22JIVq4gnQiRpCqrOaCEQYNXJ43TWr6k+0
	pqFeLRIQA1uIS5vXRPYSrZ9n/c6g37yXe5uRABIOwvUnTBFJP/cKsnijKMcTFXZ3ZCjR
	wAlexKZ/3mrc24fnKe6NtR/ejVjEG4dwY9hAcPDSR0TQ7vlB/THJX87aPMUBxYLOsJyJ
	FI88xvHMkOUVDckX/vNRTWYIRrZ59PMcgYiW5BESkM3tg1JIUBNLhMaD2KMfkowhRhHB
	XMgmEAQLu9YyHmkhDMhI078FUHPoB1Tt7dm1LhLtn9chrI+WWgsRSLEve3BtzkQFtePK
	+mrCMA+SRT3PFZ5OAM714Yfbu78jgSAcJcb6NOxbwI6zJn9pZB7XcizziyIH5TcDiR/C
	KF3NmwigE6QCg+EABZbNJOyGfMQBKAT2XDUPj9TOy/sn2Krdu17zgudMwmjNqw2pPb5q
	0cRzBcmeI423IIRnuxfa45W8RZu+BEpE+k5EPfF+cyGIPfaDDPshLuG7X9XOWdIeSWj6
	+L1BIcR8j0BgxCncO8YiAteJJKKY+ZNowhF2hMRuAnGc+CpojNp3gK9/5FV9PH3zyuNn
	YhDJcHJQjgLEC0PX/utb2hAG2iwvoE7npQ3bACD0BTSAgMnjJEcSLPcXnzg5912HvP2j
	RPctMLQDQz8CcK/mrUD1jLci1zOEIofIEGxtoAJSmEemfsbbg2dIEAE8t7f0M6+QnSMu
	tf0hh1h4Xd6EENlRsc50UembV53YNupL1NZjhzk7zJd9+rGBB4sccPI7AOH0K2C9BSD9
	8+/4i04CJYKKv2gyv4jATtHB3r2dLOgnY5k/ASCbcRYJGTbiowmDhW6ACFmAQq6N2Twi
	XHepdmDE480t1JnHHEAyv4Ik2S9wIpaet+bg7TzNc2OQyqsJx3rGxMO1d9KVc77mNXe8
	2xwtirKfpxGB5+ZHlD3HCYxBmjb7J0aiInwYqTlCBPzYV+un5xKpe6S285QIzM8+2BGO
	XwDtCaGyfCQjVe2LIBy15yORSCIp9JpIOPIVbcSyoG8E/nZPKGRAPk4AweaBAlyhGAg2
	QI3xLM8AG+KR1x9yqkawvCBkE4Q5bEYCZmzCK5BDvJrAVh/7ouHf/uyZM9KRkh+gIgjJ
	H1GKTqIFW1xrQ5R5k3RJHq2pnRiFZ56NHCALr/aNTDay+95NK/qDEFJFO6KzDhHJGZBu
	Tl5prHsi6T1WbiIa8HLF/MQAP/PAN28B5jJvi7AE4RVRf+LUnzA4p2OOaBb0GJD8tdpK
	AIQAfAb5MGEzyLdJ14zx3H0nc9OELt6AvPlk0H3OcjXgAOxXRXMQhLUSLfQHpIhBbBI6
	4kI+Mj1TOw4kf7wCSI4pNa8jEkkcYs0P6HitZ+zgqZKr9PPcWCQnuiBR331Xn9CZuD3a
	vz2IDl7VHAdsJki2KUiPiNitTT/2JnoSgIJweQchWNd+dq9/YzuieTxDuv0RAIchDh/q
	FiwZ9CHDxhhDAGqRQDZMuYjmWRQJKBsO+Qn7AOV1xv4/by7yEH3R4S/qGng2JMkzD+Jb
	TNUn+QTQbPiJe69o7/OcN0YA+vkuwWOARpDECZwWTY1HLOCRRgjsQ4CjwLrslvQlUujv
	2txIQg4BIMHYGblFtG/0jpuOHDU3cq0Tso2xT+NFI1HGHHIV9hKliEIk9iD6OP/Zbhxh
	euYoIAyJIF6MJTy8+EuiBcsD+owto5HMAIAmxNqko8FGgIwEIKmdg4AJIVFpjod5oSDx
	Y2csbwJcN7A1DyHxsghJ9PA8gjEXcOfXBbT+WYeIFBGArWwmVnV7aPUlOqQSAcC71HN9
	4qGuFeuZHxFp60+29SyRxDrmlIgSJ5sQrTZeEumIQRqSEWef2uUd7SglIrXnPN8vguxu
	Dy8HZK/xPJ+ARBz8mItgFuybgIUQEgEAG7gKwBghPBKBZ0o8IgLQT9QAQpNZXgaY9ra6
	Dqk9d62l3ccaXpH3/oighVMiMEYBKMBtPvchCTDsJAC2hLD8y6K8dvEuno14SRdhpD9S
	iRh5IkGPnYoE8fo6u/VPkdARAE/1dmGvyIQRG5FGAH5QQjjnYCs7Ec2rnevsRahowcv1
	cxx787Bfa8CV/fppM9Zn5QWJAN4ATM4wIdB1vKuz2DJAhHAdQubDMUKdqyFC9AAIgtpT
	p+Sb33i1gmTv8vrLASIa7QpCFGuJBsCUF7g3r3V7/vJUoZ/3e24NtphXiEde9y9vE04V
	bYCPCJqkIsBvGMYkekRMhIMIXpp1zWkN7Y5P9juy/vfuj7ZI5vfKo/defVIT6ExHfH77
	R65jli3I9/6PZMLieIqkjyis5R5HC5YD+JVJaLEBCqZC0aDv6z00SY9zKwJAECB4A8MJ
	QBvSJVyMNd5ZGUJ9X/Bx6bqLz5iJIFFG3+6nnl4jMSKwLnESgSglygCabcREQMhHpOSQ
	HYAypwigIFZxjTy2q40nHoDzQnshAJ4vMuhnHc9DijBu32z0XF82Jmdhj7mzFm/2liDS
	wrhFUKQ7y73rw5wIRCdk+3sAaxEcr7e+Vz88EYFn8/+/gwNKBr0CWsgmhC0E2oBF4wFe
	hSQ9IUyYA46cADE2i2we4TyzSUR2mC4SEOELnPPSWsBqoqd99ANmauJqb56+YeibnCD9
	PEecHCIRhfDYyC4CQFTI5/mEExFoR6I1MwbxCctqpMDFOE6h9qUufTK3ftrYYW/9k261
	9XyIrWhjD0QLHz/zEo53fALoUpi5dzwpiCcG0ddeiFNBvrYF+3nYBwWkUCkFAjFCsGEE
	y0ZtAliOAuc9I4XjAIlkwmA4cehLFAEYyEK+93YktsdPxTG7LpBcx6MJYf6ZOTJWuBT6
	2WANAHuGADVxsN3Zjfz22rKPWN3Hbvf2qY1nEr7PyMY1scitor8+MIoA9Eekkj7W1o9w
	9IWbH3PU2n3Zy9sVIcBW5CAMkQD+nNAxsHv9iU0+rxc9Qj5BHJDXzw+WSSJGVskjGJBk
	hNcDEdmMtSnkA8m5hhAEAVGNCGDYKFDT7pm+wisP8qxJm45BYhNdJLpmAw83HvBNOnFU
	ISBen3OfzdYzn37m5q28iS0hGIgSTkUUQLCxKcjS3mF3+i+UZiIo727P581InRLrVc55
	TPjWSntqAoGlNQhEO3uMIXJ5ABxzPGhHPidib940EJ/Q7xlxzHN4wNdCtsyX57tWz6JA
	GezsQb6EhVi8gzPcxiVISghHGCBtusGv8Z0kVkKnLZ4HMNcITz8kyjVk4gnV+rnmwchz
	jCDaXIRpXcASgTZ1BKgdCfr41hEBALZDfBE789QpqWwJ2MSPuIRg+yQK3swuIlWQYi1z
	8e4kkewwl2Iuz9lCvI4DkUHRzzELewKQ6yBZm/mNt4bQb+wBE77/BDyOQRa+7zMntWol
	Irwhm+mstVTLA4EiOrS3UGuFJIII+CEZmNpsHtEIAhQAFVGF5+tDJPoTAZBaRCUwItNO
	dMhXPCcCoiUMfXtec1eJHR2q59oQaDySvIp5nnMaOYp9iHBA773X+Hy0cQbnLQAGyEII
	L4ePNsU89sfGhG6R0zPzG+eI4lh+F5ADcC48iAKw14cIFOSLEjg6KP+fIgmFyWMUI4GD
	YIAB1KYY+ZVLXznJCc5a1J6PGJvVn7cpSEA2AG0EgYh2j7SADQAJm/4N9nQez+URyJVz
	EJBf74hPYgRINolSCOA5bGZbf7wp22ITYrQj3Ng7z/3btlUb75JdW4/9Ikpsc887je+j
	pfZAAKKHte1PO7Fb0xHhuZ9sPTPOnvQhKNiyiR3GaPc+n1/75qOua79VIJ6N93z4pYMf
	nHxPcPwtyPv//lGAACxGhTYEiJz3AdUvVimI5MG8CYgAQ6RaMZ6azef8d5/+xgDXu3F7
	cQHvTIxAEL9/IYgGsNbVD+A8jwAABXQJFZGaE0lIto4aIZ4rSPC9nXdaxzOFANTGzBf7
	lyTH09Mv+23BlwAJQCFYNtqno4KtyJ63AR5Ziy2iAM8XhdWEJApJdomEIBxjBODfZO7P
	3wHf5xhQ77zwpQ0iAgF657rJP2JEPq8NccD0DKA9pmrXXYoEnok0xRiJmYJs8+7dsrJB
	AIT7tAu5Cm+zaSQB01jthCQKIMm52KIt8QHZccTbAB8B6MdWQNuD9vQlch9fei9lR/pl
	TIu2xiNMBAn59sgm96KeCBQBOGr0l8Wz07j8gcc86dZSEGwdr48PbFnWYd9chE0Aoqjv
	Gz4lE4BywITPT+AIEKKFcwsiBhkIBC5VKsDTJlLs2fAPk9+w61+wZCOAVdzPXzcYRR5l
	J9SpzaW49ssjD0tbokeep79aSCWOLjUvUQJRjVCi4DFCrXZ2+5c2HXKF3SoIsQ9RQMRi
	s/NYX8/SX7t5m6BaWyIpEdSvn5VwCVROxP7kTcGBYzjHEZ8xxGMsr0+OAKM4lz3A3Th7
	CfG+hfhDmwWNAsg38ZnPenb/uODMdxwE8AggwgAaw4AYYIElErhHHO/Jc5u1MSCbi5pT
	I1Jpkksc2pW0syFtEYI6QtGvQSvgRRjrEy+hWT+AfuuTJ7R3+VnXtdq5am5ehnBjjYlg
	CFy7kr1wAp7Z0WkqfG0ijs/IjkKE83gEK+6NIRw4aSMOfYyDq0JE9kZoajh1wnv52S0A
	Imgh1HeOCGBB/km57wAEINnadME/Dl+46Mj+XGtxoQyhSojjqcIeclK0eWXRh2J5AUEg
	xYaAHNFknhDrHgDuXYd0tfff+XvXyNefyPZ/5l6RMZsPOa6VSXgVYle0CJARTycGhCOa
	QFzzQuewpFFfxVge65iRFyBSbmDPSHZvLn3jHHAwRiGGiEmOIG8RxQgKxhG+ZPdvDjts
	OOLv/nJ4y3GTr6A4cvar/ZSe+/lI/gdfU5CJbr78rcOurfW16to3tQj8Jc7qlS+ZqLKE
	EBEgEgEKY0PihJiVTaA+Ey9d1h4ICPfmAEwEgETX+xdzms8YoEqE3CPTM2vzHF4OUNEq
	ZKfWN3/x4zrF+fpfGyuRLZJEAfYgBOGJDnnmL5b8pTGhEYW+cghf7NhsbW3JCwiGADKn
	+cxNAOw1riNUOYXIpCCfo6UQAi4u++Drh+Nf8dzhmJc9r8u6U46YEY4vx4Ba+V2k/woA
	AP//idqm4AAAG9FJREFU7dxtzJ5leQdwk+2TH/ywaEYWxmLIdILEQEEBG5yUd6aEVphQ
	God0MgqYDVqRl32Q9xcRBoKI4GIp1dGauFFwhbJsIlDQlmGhRUbdxkBkIdsAN5ZpuHb+
	jvv+37t68/QpeXgat+xucuR8fzmO//84zvO6nvvqW94yzb/bdj+ou2a393Xnn/+J7vFV
	H+nu+dK8buWlv12y+trDuodvO6L7m1sWdE+uvaH7+/u/3D3z6JruxSf+rHv+4ZuqnFT7
	5lXLumfXntNtvfPc7sHr51e6edXp3eblC7sNX1vSPXX3Zd33rj64+/GGFTXeWKI8LrXW
	usu7V196rnvt5z9ucy/ufvLAFd0zrc78Lz1zb/fqC+u7x285tuq1WZv8w51ndC/ef96o
	nLz0X35wS/U37u9WzO+e/OqCbsvyBZVXJk/c/KESc77w9IPd47ee2D29atD20GUH1LyP
	XD+32/TlI2us8Y9de2j3yBeOLl1/uPKU2q9x5NGvzK91f/r0yu6JFafX/tmCjpvWrSjZ
	eOdN3X3Xndpdf+p+JTBgdxiQ6z73kW7Zb/1Gd/k+e5VcefC7K735sP27aeDdcdOq3/lo
	TTRv7m/WQgD/vRMPLAI8f8/xRQrEsLGli9/fbV1zRNVtXnVS9/0Vn+3+9s+v6pbfdGYp
	RSGKRRCCACwE0jYOtjJSSQEkH5IB4N+eWV9zhDCAMacUqBHll75/WfevG79YqXxf9Puv
	59d2r738vSLV1qYDHV/ZeFbNIU1+MOeimmtAqEXDdRYVwUIyhCT2zhbk4ZWXjISNyNob
	Pl5y15WLyrYcLQJgebZfv3rBSIxh27W3Lele/MmWDkZ7/cpbu6Pe9Wvdwbvt0l1/2ke7
	px5aPXMC8PzLjt9/RAAAYxoCHHfUnkUIBrK5Ty54b8nyc/bunltzZPfU7Yd1vEF/bTbK
	KAETWDYOcKAiRyR9Xv7R3SPgA7r0hS3f7rSln9R82pJn9BAC4K/+8KaSnz339VH+tReu
	7ZRJ90qLGK1P8qIKsEOQtGWefooMyBXiIXXID+xNqy+qCAdcoPFcHsxW5C8v/0BJQJbG
	szlXQGdL49QROIjM31x+Tbf2r79RmLztl3+p2+Xtb+/2e987u4Vz318kWL7LB2ZGgqVH
	7dddceLh3Zrf/UR37Id3rwWyKFCXfnyP8npkCAGk+upnYxEE0C9jPv2pY4oUlCIhA0IY
	i2yUW33hwu4bV3ymW33DBdXffOvvuK5E1CDCI+ARQ0qA4FhxxDCokPjpt75jJBf+6m6j
	fL++n+dNZN473tYdt/fuHePGwPu+c2BkhqZXxN7lpST2oA+wAShf9mtp7KE+pNAWG8Tp
	pOzaFx5P7OXpLetrzFPPbqo92+958+d2MFw557CZEQD4xGS/f8B7RooBphRoBBD6KaxM
	5EMAm8FMoBmjXjtlKIgUyVMkilMowsDJj6fa9th115J/vv/gLuIYevjmvbYRXnbz/D23
	Af2cXX59mzLw+3XyiBJBBN5F7CUARH86IXbAk4+t9OlL7JU0c6ScOaTaslZSuvdFvbUe
	uOuCIoAjYN2NzXEu+lQ58I4P+yl6OEOmI4DNArCvmDygbQbwCHDtn5xVRlFvDKVIjBNi
	jCvaV3C6PLB/umH/kYQISR1JSLF51dwC2EUJuNOJ42+cAIgQEiCePWXv0YtOIXVSbX0b
	pZw0bcp9iZ2mIoG1gR67hBi1n+awnHb9zZdWdKTvFPBOX3XvmX9Y5wcSCCXYBEib5U1u
	uRQMAXKO2UDARYB4OW8wloLapcYymPrUGR9lxlPKnnbwHmX0KC68d88e3f3n5kNGBHh5
	w6HduCADEtx8wpzy6OnAd5sWDXKrTppIIAKEAPY4TgJ60TfRoA9w8kkzNmVpbJG8MlHO
	erGjOuvdefFJlX7pMyeX0542b98CXwSYEQEA7qw1MaMrm5xS/7j68LroIYEjwNnm0Shl
	mwQs8NedO6d75KL31uVHfZQyBnjOPcqZl1IMcumJew6eKtoRE6Clxt72yTndbafvU33s
	C9AhwM+2fqwjAT9l5FCHBMYm1G+PBJ583Hu0A1/KiAhg7NJD9ioCIEJ04gDfumBOgdAH
	nx3YyLr0o0Nf1OUJyn1AW0gx3sZO4/axFjvAibPCyJ3J2e/J4I7PtgvnTO4Anh/v/vxZ
	dYbUWdIuYSb2iPHqIwvr8cgTwFTy4v3t8ejhxe2xaNHr2l/6q8GYf/rW8UUkZPLEEAIp
	e6Ym/XrkyvN3PwVuxE3ezR4hAr60T4Csc/8F+3UrGtHoeeNR76r7wY2H7DoCOd4uDVHk
	v3Pxh2tf9knsKzqkrp/SIXpYu0ji8twkkTTRc0Si1tZ/Okg9otxx9oE1Tt69DBl5O8CB
	L/XuAFYeAeURevp4P0WrRweMCqtEg9wHfr5lyeuADdjSHclUpEldxqac1DlOYtwYVpln
	Azmg9wHXljtAxkrH51NnTp7O+3k6w7kLyAMfafp7MMb++vNOl0fq/njlPNJJPed7eYRU
	fekTBIlESGe8ix7vBzoSOKrVc1jAIwTc6DAFxNNXIYDwgWGZCKuc6wgQoGYjFS3eiGSt
	Pin6RHDGF9h3HrcNQRNt9AVQwO+nAY6Bt3zhhE40+NGf/nH33WUnFynuOPnAEXjW2Tq2
	RvY0nmY/0/XXlvbkQwikCBkQRhnwIjEBfiQOCi/eD3zvcaZHejut2G/wlUfsO1oMATyP
	d88s61567Mzu5Y1L3hBwOQ6mA9lcmVM+5bx9q3TTH3WvNPn3J86pNOsjxrjhQ5ak21t7
	uvbtzTnay/DNYPa7vTV2VJ89TJeag+MBX+iv8N8Dn/cTJBANKhUdmgNvB+LpqxHAhCar
	UNPSHAcAmErpqep2pHzagV9v3oYpoAO29SL/8eSlo7z2rDluvMzbr09dUm3JJw3hrGdP
	IWVS62Wv6asu46XZU+qTjreN9+vP0c/rZz8I2X/ViwSABnLAV05eOqPwH2pYwBkj1GQx
	kyYCxEBlkCFgBZxXqGOApm9f6dRNBXQAl46DzhOIJwiXIeKcFCIZySXVZRPA8uPS34N8
	5htPjQsQ5k0+6fjY0r1nB+369tcb77NNudltm74iTJvPxZZ4CwkL5/w2R0AjQI5qBIj4
	Q16wnFHqEcj5YrFcMqTjBNhGiZ4BXkeM1hbQ+20BGdDmJuNg9MuA9oiUV7NSRhGhbj/9
	kCJDznTnvotVxBnqL3ruBRF1ZOP1R9alzJnrFr5iyQfrGFzyod3KATiDvKMxxNPPzd5f
	+pzbSNffqzz7hMTjtgrRq354pJRthnntnm7YJATIHYBT2guMak/DS7s8R50R6P1BwoeJ
	GJcAX4qN2wA5ZGpfuShG8SivTp+MTZ+AHuB5Xs7feLKU8PQ+8MljfV1W29svb+tyMaqU
	h/SIjND6rzr78LrjCKuMKqWf17whlbq0m1feeMbX1x9c5NWZQ51HPATxniORAxGiZ/Te
	XtonA9uxN5KZuy/wAHaEA9DLyx9/Ou5jOeM8EmRRYYYhKWKTBWgDH6B9oKOocMar1l14
	2MhjPMdSRj3vYSgGDJAMrCxVF2Bi3PRL6mWMPGPw0IABEAJMdWmTMhKjeSuI4HTK/OYx
	xvpJ5a1jnr6wi/lCMm0IYd3s3968NZSqF0Ho7PhC9BAjZIhdKwo0GwOfncxnPal57Dd6
	0UEZAfy5+cn2BzJ/VJsx6OMDKQV8G7AQgMc3HC/X5lHmvqvml5FtlmRs32MoQ3gWA5k7
	ikRZKaGsNv2mEgDpB1yAmBeARD1gzWEtoKnLvvQxZ4ybfPaW/ZnXU5F5jDdOvhxj6BzW
	CUDG27OyPDF3dPF2U7RwbMRpYldpvN944zKPdc2bfdiLuYGfP6lLx3GccZnS2GVRbPb3
	7ApTjaFSLBbqKGOj+sTo5ZlD4wccaQCR8sbq34DB5hrT8hRmdHXW99oz80v7cuhBB5UR
	Amb66sNQtWabs4w+BEu9/gFGak37R6gYHGHMY19swQ76Su07e+8DgjTGk/Q3Jn3pk8hg
	buspiwx9B3OMGG+f2at5iHFsU8/9zePHf2gyY8DHB/7g6s/Vr1psnmJAAboQL4x52cGw
	NkS0xzA5n3i+zWpjUMZkHP30iVdqJ/02Y/XzHiLGkjIY4JOXxjAMqkyyBkPJAwoAiWrG
	2L+Usc1L7EtZf/OErOrMo39Az76VU9cH3xj9gajd3MrZo/1mz45I9iXmIH3wM8YeHrx1
	WUm9/Ws/PPEXwPwIZRzHGZcfuPKU+lWLX9k8dsuy+sODTQLeHzkYL5uXMixjMUqMgTjy
	lJG3+b7RGCj18iTKA4swQgD3hxGG8BdKdQDTh2GtY+4YGLnUJfJUlGl1iQr2mn1aM2TO
	eHNbK8eXdfQ3Dz0yf+YwTn1AM2f0Ua+fOu3K5pbXh/2Mzxj5zCPVN3V+afTtqxbXG1sE
	QIZEgVk9AhDA5Pn92kM3nVqL5p00A1FESgEKFgGG94Yok5QC6cN4qZeSGEBqXoYGljQE
	EOKtpUys51IXrzbOeAYzznoMrJ+5QlL1+kqtra8+5ibGE/kQQB9j9MvcySNx9Mv+s3Z0
	CUlrjqa/uYEbosUOUns2T19EMrd84sZPECDg5yI4Y48fH3jvJYsKfMAjgfQvLhhc8uK1
	lGEg3hNFA24UooQ8YzEKEBgw7cbpoz1AJkok7ROAwZRFgwBgXvswj/mUA6o68wCgCNCM
	b49Efb9vH3wEsFbtfdgfMOYvMrWx2V90YBd91KuTN97apHRsbfZmX8Q6+ugvzZiQUOrv
	M35bSHi/v9hK4/35EYhjexzHGZctgmEBHwEiG764YPSIx5CMGINSlBIkoMvrQ2F1feNQ
	OqKe9AmScQyBaEAh/iZvnHYGz/o8g8EyR9ozt34k0UVoV9Zuf4jEM6X2mr3rYy6SOaxB
	9DFemzmyljnSlnp7zlrqlPWRp2Py5vXOgtN50XXXhfNLL78BALxI0I8AcPKDnhkDPj4Q
	qyzgzLGgH1s+cN2iIsHGr5xUv21/4OqPdd+98uh65r/3kmMrv+Wri6rfhhsWdltXn1E/
	0ESKGCcGibcoM4KylJfqywDxMH0YJ7f8RABABRBGBRhggZqyPiFIgKsxrW/WCFGBIK8/
	8MxhT/oT+RBBH+vU3G2MvtFNPmJc5jHeGvZEH3mSenOzlXcGgEdk4FtHihB+MAubeL8U
	+HCaVQIkAmQxC7gMIgFwvQbddOviyosIT608s0hRr0fbhw9Vd/vC9vf2hfXRhJ9P57f5
	PobwU2wE47EJqQApjxyC43xnqK//wXEV9hOicwz0ATMWAAyOROZRFwDj8YysHXBSawRs
	481pTaDpa3zATFkdoEJW+YBoPDJLI+azd6JOX3sz7muLDyxw7z7/sEq9NFPnlbQU6NKc
	+8pxzkQAJPBbgFklgMksYHKSu4CvWJAA4CLBdy45akSCTTce0xGgew/v6x+ivHXVKUUE
	TxX5UAMJ8lt7BPGtAHK4zTrjCCBz8fFTK1HAo6FLEVB5bMAGIOP2AQp4fU8McEWWRgSg
	xCMzXhti6Av4eDFw9dWeOe0hc2Q9KU9PBOLVAAegF2bs5m1pgFcPdJ4O8Iifw6nn+SKC
	IwAuvB4uLoHKfiZ/z+KTZ+8I8AuZeD8AnEEWJcjgN/g+b+LxvP3BK+cNwG/E8KkX0J9Y
	fkr9EQYpfCrlI5GIz7WQIZ9tIUCIgQR9QRJtUqTxJU+EYRiAcRCCkRGCARFI5LJ/bUAJ
	aCEBcBEnYAXopCEEkOO15rcuAMyNjDkSlEVGzuFTOMekV+BsJHJKHZuAv+vcuWVX4AMe
	2PYtLzLJA5/Qz7FQWLTLIJ1J/ylgRj8DGz/7+2WLAt5mLZw7gJSSRCQQFSiGEPXXtfaN
	ne/sAC9FhnxfJxL49k4ZGdwTKm2fdSGDz7v0UV/54edeyEL0rYjS2vVHHPXSvqS/NGQL
	yXzVo27wqdd5oy+BUu6n+UpIXchrfz4+obdv/uhN6nvHoR2AD2gOwtvl4/Xrzv9gef+d
	SxuwLeSzb8AGPMCVI8J/6hzN6tX59U+c0t8BZvw1UB/0ft5CFXJaqMI2Fz3hC/AUwmhG
	yLkPMD+gZIxEBQTIUSAKiAp1X2j1vsMzhhELdOCTZmDAhQAjYmhrwNeHlo6WprQ+wNDf
	vNqlRD/rlbR91nHU6l1UkUia+ezNXvUNee2jyGafbV6kjT48nJjzoUvnlSA/W7BNAd5s
	wR7ywj3geb28FAFWnzEgAK9HBtGA3QEeMvSPBcBzzCJAuwzmkk7/PnazkscoG7zv84Nz
	BwGE/8HnV8vKyIxwz9IDC3DK825pjoRcGBmuPJ0xS9qbxmGEYHTGljpaihDN4AETyBQk
	5tAHwAVsG4OQ8uZDyFF5GKFSttfMPSLR8H6CtAgB0BxZj15zwIAM7T7jWEv4Drh0BLAU
	qDw8gEvZgWgbkaDl1XGkEAEZgA/0HAPxfikCEO3AF40J72cLJHBczwro45PYEFZazEY9
	CQhZOQbqfGuRIOENaAzNYD6DZkwGqnIjgR9r8CSAS3lYPBVJ5NUBuMJ9SymZaGD+kQwj
	AoD1T2rdlEMq6WjuNn+8HOCpR15rV1sDnW4us/YONOWAPl4GeEI7YB0B+hB2QwCgS4k6
	/UQBohyPTwQICUIA4IvIwOeIyC4KkocuPmfnEMDFAgEADmREsHHKKlPGBvIegMKMXd/B
	N0AZ2HfyjCg/MnIDqU+A6t/qgAFsAEqBWqG65R0Fqa9+jQzS8v7WL32tY0z2oU9//oAP
	XHtTBi4J+IirTZ+00YHE69XTHynonQgAfE6gXpqo4EKobs1Zc0aXQBE2R0G8XAp8duf1
	RB+OB3gCB5HYE5O7zaxfAPuRwFHgMgh4m6B0RYGmEKVsjpLCvTb5gO539YzIoNrLyCJD
	AywGl9ZZ2wCt6DDu5S1aABWgCADcPvCMbL6SG0+sdmuZU19rI4A9hRzCuXprE8AWGVo/
	R5Q7AbKqczxYwxhiHwAvJ2i69gnBkxEA0Gxm7kSAcpyhDd3ogQ9cNpMnOQrUi77szOv1
	N95xDHwiMuZo7OO1U/K+prEBkQDo8gV8iwIV+oY3W22MyWDAZzD/ZwCD8S6GkRYAjRg5
	ewEkz+hCfABPNDAf8IU9AOizqYFNtAG62lubdmVzav+f/DGjuQFjD4M+A4Kkn+OJDvaJ
	ADkG1OkD8CI83doFUD5k+OaSfUZ1CEknNrGWNFETsIgRxypw2xEhkuYoQALHhn5S9ub1
	yC1FAhHAtww7BfTxSZHA59ZYKgzZkI0hBWDlKcYDfB9oo+oZCBkwHREYLWQoQzegGIZX
	JzIE6Hg2kEcXvEaCgM4LAK4tfeQBBXwAa5fW+d5S5LI+ssX7pZFEhoT/igCtnS7y9m/f
	QIu322f2DOyaq+25iN/WlAKyyNN0tSfj6S3UV+RseQRINAjw7BuCsDHb05s4+2f98W8c
	+H7ZR4cIYFPAthmbskGEIPLxCAqKABQPGRiQkSldZGgGYjR5/eQL1GakGJJ3E22MDdCA
	qy/yIFwII42niBblyW3NOg6G4Btj/rQBVV5qLZFAWR91dLE+cnv0LDDbfqWIkT3Ry/oA
	AjwxtuzSbCMSICu76actfbTpx7baEUIdewv/0ng/ws3oI9A+oDPJiwRIEIWA7a0Y5hbL
	m0KMUEdDM1alLo3NUEAOERhTXnTglTGWOkDx4PQBFq/Wh6G1FchtDn3UB3TGlY+hAWg+
	IBahhqAHXJ4+mHNwJ7BHgCIA8hZBWp+KMm1s9pn1EcLcCGd+oHk0s35Fw+GFmf5A1U+e
	jfSR10+57NYIkJu+/gX+MNVf6Ed6T2QzwW9Wxgg7fivnSAB8nWnt0oMARNn7AXkGoqA8
	cEZgNeAor45R7lm6T5GFEcujWztw9B+BjBStL8DUAcF4gBmjvgjQABfmjUUcfUUCaY4f
	4CKe+RAKiMYX4AjY1rYX/aWIylv1NRYYnKCvD2D0ReKsY84cFfamj7I9W0Ok4NXq7QWB
	9DM38N2DculTFnV9vzgrQL6ZSZBACEICFxaCDFJgI4BHHgRYc0YjQTMKYURGAj4BCq8D
	AGFQwsDK+jK6Ov1ylgO2AG/tgFQvZcgYv4BfNXhJhCDATZt5C2wkGuaNRyoRw4sg9aMX
	QkgxJBYCIJSjwphcXkUNIFoXuPoAGuDq6KtMtxCWXhVdGuiAR4YALbKGIEgAfH+nedNf
	AL0Z4Kcaiww2lUuiu0COBEyWr6Og5ZWFOkYkQGSUIkIrSwMswAGGAOoYWjnGUwZ8gNWm
	zKiM75EOiPLGIwdAjVfvLAdUzdvajc2byoBc7yNaH2O0IUHqzOuREfADb25nfyPE06sG
	Hl56NFDtCzEQmq4kd5raZ/NyQIcIjhBlgBN/Et+pz/pTgTqTOkTI04L/jMFRAPwQgicg
	Ak8QDWIQzPdCCXCMxmCMFI9L2EUchgYU0LQzOGOmb4HdxntGBgzQgWec9Yw1f3m3NVq9
	OdT5VNyYABoyaEt9vdJuwOePTP5/RP2KuK2flJiXDvYjTbs8oJGP1LFQ5YG3A37Qtqz+
	ogl4dp0JHr+wMaKBO0L9jxztiPB8jAhAv+/s91QI5BEAZRDCEEIjEPRDBt/sIQTgSIwI
	EKA6BqQR9cAsL22gDAAdeCBA/Nc1gDSn8gDYwSMmj09EKeAbcPqEFAV889SQAsE2r2qv
	oRM1Wv+KNm3+HEMVKRwdbR760Ymu5e2NmCGCNnV1F2hkcOP38ucXcsufbdaM7gonzOlW
	L967ooK7QV0Qh0cCgogODARkhpSvM3/o3XVeN0NqZ0ShVz9gA8lbxEQDXglcol+9Rm5A
	MTIA9Ssva2miQ/5OgRz6FLAN1IHnD8rGABUZihhCd5uj/m7R5jfGetaVr3VaO92AXUQf
	6jYCu93wvf6t1+7/F739jRJmRIT2GOk1JwI4IqR3nfbuwSNQOx5EhbostmMCwLxDGmLw
	LjdywLksMSTwcxYzfBkfWM0b64xtgBbwjQC8UX+kADavr/Ne35CjgVbzFQEGfw4GfAHb
	/icO89Zr6+EYBKijoPUxzh7tIeEfmelBL5diegPd2c7L/9dd6t4oqLPRry6P3i20/5LF
	kSEaVHRoZHAkIIQnB17k7gB0BnaZRIIcHzlPgeripA9Q9AGKyx8vzPO7ccDXDiwpIKWI
	APASJGjijuLVqzZgPrn2hiKRPnknbw9F1NbuqKOLP+x4vfv/HugdkUWE6EcJHuLIYEQi
	7wLpQsmDRIWKFr2jI8eDxycEAHqdre3YcIdQx9tz5soL0wgikgA3xABszmoE8L+iAxpB
	jK9LJnIM+3lMQ1hEBrjL8AT0HaE+TXvIwIikni6aUZNWxPDOob2Acqfw1kyIzXEBXJc+
	wCOEegCpr/uBSNHySKGPyAJ8kabI0qKFPGK47MkTpKu/zZ9+eIHtudz5HbDtexq1Jk07
	ywIM7ziJhDjjqXZ9+/0DXsamfWftdTLvxAITC0wsMLHAxAITC0wsMLHAxAITC0wsMLHA
	xAITC0wsMLHAxAITC0wsMLHAxAITC0wsMLHAxAITC0wsMLHAxAI7wQL/DePxAfwmG+Yx
	AAAAAElFTkSuQmCC
	</data>
	<key>icon_title</key>
	<string>Hamburger</string>
	<key>newOrder</key>
	<array>
		<dict>
			<key>name</key>
			<string>Turn on  "Use Experimental Gameplay" in your world.</string>
			<key>type</key>
			<string>string_info</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>5</integer>
			<key>has_command</key>
			<true/>
			<key>is_id</key>
			<true/>
			<key>name</key>
			<string>ID</string>
			<key>type</key>
			<string>string_editable</string>
			<key>value</key>
			<string>hamburger</string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>6</integer>
			<key>name</key>
			<string>Name</string>
			<key>type</key>
			<string>string_editable</string>
			<key>use_as_filename</key>
			<true/>
			<key>value</key>
			<string>Hamburger</string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>7</integer>
			<key>name</key>
			<string>Skin</string>
			<key>possible_values</key>
			<array>
				<string>food_001.png</string>
				<string>food_002.png</string>
				<string>food_003.png</string>
				<string>food_004.png</string>
				<string>food_005.png</string>
				<string>food_006.png</string>
				<string>food_007.png</string>
				<string>food_008.png</string>
				<string>food_009.png</string>
				<string>food_010.png</string>
				<string>food_011.png</string>
				<string>food_012.png</string>
				<string>food_013.png</string>
				<string>food_014.png</string>
				<string>food_015.png</string>
				<string>food_016.png</string>
				<string>food_017.png</string>
				<string>food_018.png</string>
				<string>food_019.png</string>
				<string>food_020.png</string>
				<string>food_021.png</string>
				<string>food_022.png</string>
				<string>food_023.png</string>
				<string>food_024.png</string>
				<string>food_025.png</string>
				<string>food_026.png</string>
				<string>food_027.png</string>
				<string>food_028.png</string>
				<string>food_029.png</string>
				<string>food_030.png</string>
				<string>food_031.png</string>
				<string>food_032.png</string>
				<string>food_033.png</string>
				<string>food_034.png</string>
				<string>food_035.png</string>
				<string>food_036.png</string>
				<string>food_037.png</string>
				<string>food_038.png</string>
				<string>food_039.png</string>
				<string>food_040.png</string>
				<string>food_041.png</string>
				<string>food_042.png</string>
				<string>food_043.png</string>
				<string>food_044.png</string>
				<string>food_045.png</string>
				<string>food_046.png</string>
				<string>food_047.png</string>
				<string>food_048.png</string>
				<string>food_049.png</string>
				<string>food_050.png</string>
				<string>food_051.png</string>
				<string>food_052.png</string>
				<string>food_053.png</string>
				<string>food_054.png</string>
				<string>food_055.png</string>
				<string>food_056.png</string>
				<string>food_057.png</string>
				<string>food_058.png</string>
				<string>food_059.png</string>
				<string>food_060.png</string>
				<string>food_061.png</string>
				<string>food_062.png</string>
				<string>food_063.png</string>
				<string>food_064.png</string>
				<string>food_065.png</string>
				<string>food_066.png</string>
				<string>food_067.png</string>
				<string>food_068.png</string>
				<string>food_069.png</string>
				<string>food_070.png</string>
				<string>food_071.png</string>
				<string>food_072.png</string>
				<string>food_073.png</string>
				<string>food_074.png</string>
				<string>food_075.png</string>
				<string>food_076.png</string>
				<string>food_077.png</string>
				<string>food_078.png</string>
				<string>food_079.png</string>
				<string>food_080.png</string>
				<string>food_081.png</string>
				<string>food_082.png</string>
				<string>food_083.png</string>
				<string>food_084.png</string>
				<string>food_085.png</string>
				<string>food_086.png</string>
				<string>food_087.png</string>
				<string>food_088.png</string>
				<string>food_089.png</string>
				<string>food_090.png</string>
				<string>food_091.png</string>
				<string>food_092.png</string>
				<string>food_093.png</string>
				<string>food_094.png</string>
				<string>food_095.png</string>
				<string>food_096.png</string>
				<string>food_097.png</string>
				<string>food_098.png</string>
				<string>food_099.png</string>
				<string>food_100.png</string>
				<string>food_101.png</string>
				<string>food_102.png</string>
				<string>food_103.png</string>
				<string>food_104.png</string>
				<string>food_105.png</string>
				<string>food_106.png</string>
				<string>food_107.png</string>
				<string>food_108.png</string>
				<string>food_109.png</string>
				<string>food_110.png</string>
				<string>food_111.png</string>
				<string>food_112.png</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>food_053</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foil</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Can Always Eat</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Animation</string>
			<key>possible_values</key>
			<array>
				<string>eat</string>
				<string>drink</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>eat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Convert After Using</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>name</key>
					<string>Converts To</string>
					<key>type</key>
					<string>string_selectable</string>
					<key>value</key>
					<string>minecraft:glass_bottle</string>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>expandable</key>
			<true/>
			<key>food_values</key>
			<dict>
				<key>absorption</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>1</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>hunger</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>0.5</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>regeneration</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>1</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
				<key>slowness</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>1</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Effects</string>
			<key>possible_values</key>
			<array>
				<string>speed</string>
				<string>slowness</string>
				<string>haste</string>
				<string>mining_fatigue</string>
				<string>strength</string>
				<string>instant_health</string>
				<string>instant_damage</string>
				<string>jump_boost</string>
				<string>nausea</string>
				<string>regeneration</string>
				<string>resistance</string>
				<string>fire_resistance</string>
				<string>water_breathing</string>
				<string>invisibility</string>
				<string>blindness</string>
				<string>night_vision</string>
				<string>hunger</string>
				<string>weakness</string>
				<string>poison</string>
				<string>wither</string>
				<string>health_boost</string>
				<string>absorption</string>
				<string>saturation</string>
				<string>levitation</string>
				<string>fatal_poison</string>
				<string>conduit_power</string>
				<string>slow_falling</string>
				<string>bad_omen</string>
				<string>village_hero</string>
			</array>
			<key>type</key>
			<string>select_multiple</string>
			<key>value</key>
			<array>
				<string>absorption</string>
				<string>slowness</string>
				<string>hunger</string>
				<string>regeneration</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Remove Effects</string>
			<key>possible_values</key>
			<array>
				<string>speed</string>
				<string>slowness</string>
				<string>haste</string>
				<string>mining_fatigue</string>
				<string>strength</string>
				<string>instant_health</string>
				<string>instant_damage</string>
				<string>jump_boost</string>
				<string>nausea</string>
				<string>regeneration</string>
				<string>resistance</string>
				<string>fire_resistance</string>
				<string>water_breathing</string>
				<string>invisibility</string>
				<string>blindness</string>
				<string>night_vision</string>
				<string>hunger</string>
				<string>weakness</string>
				<string>poison</string>
				<string>wither</string>
				<string>health_boost</string>
				<string>absorption</string>
				<string>saturation</string>
				<string>levitation</string>
				<string>fatal_poison</string>
				<string>conduit_power</string>
				<string>slow_falling</string>
				<string>bad_omen</string>
				<string>village_hero</string>
			</array>
			<key>type</key>
			<string>select_multiple</string>
			<key>value</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>On Use Action</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>name</key>
					<string>Randomize</string>
					<key>type</key>
					<string>bool</string>
					<key>value</key>
					<false/>
				</dict>
				<dict>
					<key>is_function</key>
					<true/>
					<key>name</key>
					<string>Action</string>
					<key>need_image</key>
					<false/>
					<key>possible_values</key>
					<array>
						<string>example_function</string>
					</array>
					<key>type</key>
					<string>select_multiple</string>
					<key>value</key>
					<string>example_function</string>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleport</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>max_value</key>
					<integer>64</integer>
					<key>min_value</key>
					<integer>1</integer>
					<key>name</key>
					<string>Range</string>
					<key>type</key>
					<string>integer</string>
					<key>value</key>
					<integer>8</integer>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Hand Equipped</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Saturation</string>
			<key>possible_values</key>
			<array>
				<string>poor</string>
				<string>low</string>
				<string>normal</string>
				<string>good</string>
				<string>high</string>
				<string>supernatural</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>low</string>
		</dict>
		<dict>
			<key>max_value</key>
			<string>1024</string>
			<key>min_value</key>
			<integer>0</integer>
			<key>name</key>
			<string>Use Duration</string>
			<key>type</key>
			<string>float</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>max_value</key>
			<integer>14</integer>
			<key>min_value</key>
			<integer>0</integer>
			<key>name</key>
			<string>Nutrition</string>
			<key>type</key>
			<string>float</string>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>max_value</key>
			<integer>64</integer>
			<key>min_value</key>
			<integer>1</integer>
			<key>name</key>
			<string>Max Stack Size</string>
			<key>type</key>
			<string>integer</string>
			<key>value</key>
			<real>16</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Crafting Recipe</string>
			<key>type</key>
			<string>recipe</string>
			<key>value</key>
			<string>#,minecraft:bread 0,#,#,minecraft:cooked_beef 0,#,#,minecraft:bread 0,#</string>
			<key>value_array</key>
			<array>
				<string>#</string>
				<dict>
					<key>data</key>
					<string>0</string>
					<key>id</key>
					<string>minecraft:bread</string>
					<key>image</key>
					<string>gray_bread.png</string>
					<key>name</key>
					<string>bread</string>
				</dict>
				<string>#</string>
				<string>#</string>
				<dict>
					<key>data</key>
					<string>0</string>
					<key>id</key>
					<string>minecraft:cooked_beef</string>
					<key>image</key>
					<string>gray_steak.png</string>
					<key>name</key>
					<string>steak</string>
				</dict>
				<string>#</string>
				<string>#</string>
				<dict>
					<key>data</key>
					<string>0</string>
					<key>id</key>
					<string>minecraft:bread</string>
					<key>image</key>
					<string>gray_bread.png</string>
					<key>name</key>
					<string>bread</string>
				</dict>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
				<string>#</string>
			</array>
			<key>value_on</key>
			<true/>
		</dict>
	</array>
	<key>personalized</key>
	<dict>
		<key>configuration_file</key>
		<string>foodCreationSettings</string>
		<key>image</key>
		<string>food_040.png</string>
		<key>json_file</key>
		<string>new_weapon.json</string>
		<key>name</key>
		<string>Food</string>
	</dict>
	<key>version</key>
	<integer>5</integer>
</dict>
</plist>
