<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>description</key>
	<string>FennGaming Minecraft Food Mod - Adds: Coffee, Hamburgers, Pretzels, Acorns, Bananas, Pizza, Doughnuts, Bacon, And A New Type Of Pumpkin Pie</string>
	<key>name</key>
	<string>Minecraft Food Mod</string>
</dict>
</plist>
