<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon_image</key>
	<data>
	iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAERl
	WElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAAB
	AAAAIKADAAQAAAABAAAAIAAAAACshmLzAAAAHGlET1QAAAACAAAAAAAAABAAAAAoAAAA
	EAAAABAAAASxOHa9hQAABH1JREFUWAmsVX9M1HUY/nwPmb8FmyXccRvVOZs2mW2GUgqz
	PDgdCSzdCFjRaPkDGJg0Y0ZGGgQChqZxcyoiMDd0hR0/CiwQwSalHngkIKJDRE0yarn1
	R0/f58W7qbHij2777Pvj3s/nfd7nfd7nq9Q4fs5CG7p2BaN79xL9GoZxbPl/Qrr3r0RH
	tjcGDy3A7bJFuLY3EAMlc9BfMh+9xRb8fLEWl5ztzxAY1826bXAVBsn/bekaLmTNkMX7
	X3pOjR/4j7UVm5iAiZlwuHIZ7lYtH33eFyRgRhqSMOjYjN/uXMevg90Y2h/sAXalKBD9
	RUHo3G5Bd45Zrq3JCr1VGf8N4o/OSqnu0o4J+OmTmZJ8qMIGstGe6S0HXi02oXn7s/Ku
	J3+yxF8tmIq+3McxoAO88N4M1CUqnE03yP3JVP3958twJmUmWtb7/juI9vdNkph0MxGT
	OjM1sILq1zWhub/sZZxM0eQ/AmDiEddXOLfZGyfiNJRGavgiVo/PWiPsOBIf058noy1l
	LhoTfXAxe+HYIH74cC5c+1aj6yMfST78ZQzOZykcidFgX6Vha4iGPVaFz6K85Ln9XU2o
	bllnQOvGSZJ8l1XDqbxIbFlsQG7EdGxc6I20+Qo1CRoaNwQIiKqoif8EEBamJtQlaVIt
	qfvzWhMoHlb6ziINZRueRvqS2YifNw1McjhGofFNL4nhM8VameQDm0ml3V87IwJURdve
	RGxbqoO26QAYr7NQ/4Y/eotCHwZxOnMBmlMNkrBvpz9YXWW0hh0vGbDCqKwR/io63KRK
	179o/p3vSiIU7p23S2sGjiwFRXnjoAWRRjWFyzpbPWE1qhAdRF6ESR0jIyUrlCRv3hqC
	6njTwwDYJ1bOxPcG2oUJVqYfYnYfSCAE4W4BW8OkBHKz7AVh4UEDIKvhAcpCJtiKy4fj
	RYgHXvEVLXhiiZYi+e4tg4CgqO42ZKI2N6FLD9IYaLOoiTY/NU+nN7tA1wGngProqcmR
	SaFuWAAL8Rx8fx/ZK46ag4MrR9vGFlCMnjhWWZUwqnZWM1yfhut7vOBsrgn1BOlAGMf+
	sgVkhyDoDwR8NsMPg/X5ov4H9sgtgYcbVRP3sK0t6/zQkGTUx/i1vyTg+wOZroa3DaDq
	OcecaVb36EF6K2YRwMdWP9jjJsGZZwbHkHN/btN0YYAjONY+to5i5Ji3pgaIID1CpIUe
	fVVJ3wmAHsA5HuOgKaTzREHyrW+3mGUkOYJcNLDqNQbxgEf3RQUqXwKgEMtjpwkAR5wP
	+I2R2Lq051AYpuH4WoVbR2OFgbG8m2K0BahQR8ZTYMs4truXKwHLnnK++8oTcTrdF3eG
	rix2AyEACrHjUDrKV+s60P2A5kbLlxiX49O+/m/sMtvsKf2/Mz8YNy53rHIfwisBcBLs
	0QYxIoqqfO3oeHHEPnheSQvpHyzGvZfa4fkES7ZpyXRW9/8q+smpQRyNkaYc6T19gN8B
	+oInaBTArK+TDWLJbBnNiFdW5QbAyqgJasGtB7JGM+MzhcpP+u0zpXL23wAAAP//xur8
	QwAABEtJREFUlVQNTFVlGP6+g0wMDCyIu+u9GzqczlpuFalUykTv5YrYhZCJSARhsSIH
	S5wxhmkhxk1ooG7cwAaGGFOzgIYOIhUxBy4iIwOXEzdmo8n6cZZuPX3Pd70WcNvkbN/O
	Oe/Oed/nfd7neYVQl8MkFrrXhKL9VQPduQJXKiIwvD8CP5ZMQ2vBXB3vLfTHyVwDN4fa
	UR0n0Jwm0ZgoUZcgUfKsxG8DLWjLlmjLFGjNfAgdWX4oj5EoWyZQucakv2l4XuB46gwc
	cU5H9+sBYG192czCustmwp/NG3DtaC5+PviMvt/4LAlDrhm4PXwK5/IlLh8pwEjrFgxW
	LdUAvMX7a1/8e9sSAyWxBvbahD4EOXLChcPxAl+kS4xd6UNb3hPo2Tpfg7voWvwvgASz
	CD1Zu+P9ithQnC18XBcba0lH1w4zerdKXN37JAbKF2Gw1Ipvix9EZ+FSzcIHNom3nxMo
	e9nRYJ8t6jYuDNIg9jmk7p6FyRSBsvj1msWaYbLkbV7fHZFi+iqreGp3TBgaUgz0l1lx
	+VAyvtvpj0vvzcL3O02a+h/eCUb3Zgs+TpKoWiGwR3XrsIjlHCHvcbPFUYJgnIywEMfE
	MfD7j1YLXN0TiJ4C03gARGG3iMhqZyQq4gI0as6b3VMPRE4WyAA1QgDn9meCo1sbKmYq
	Bh/IsodhU3w47GZx6s0oiaJoT2EvgM/XGejKMdCaFoy+yvV3xjHAFyZRCaMpmC/fkLh1
	rRdfbTJwo3EZbv7+B9g9RfnNFn8tKhaOiRHT7iaSfNYA1CgUE8P7nH6oWfcw3PES9UnC
	I3AlPAKZVNwbIJXVOQl/uRMNlK6YqQGMHozStJ3ND9Hv7rQAXD/kYBLp/e/uXZKR4lgJ
	aqAxOxgXPnwBo1/XIe9RAeZkQ105JrRnm32DsIWLRzjL0uUheGVBIDpes+CTZOGxl7IY
	HTDq9tizc5sVVP+ZsgR8mhUOdsxuOTo65vRmxd6JPDS/u1LHG1KDtHDJQH/9W74BcAxk
	wZVhRVPhRhzYMFfPmm745bxb6+Gn3WFalJwnwbWk+6E2OUgXPZ7qsRz3SU++of8ZGzqD
	C9VO0HZ0GYU+gbnxVJIFAiATFBNdwa54aCuKkMWZkFQSAN+5eG71ufHryCCq7MqOajlR
	gPz/0rFiOCNEyMTCPt9pSc4ycU7gIoJw2efohLQWk9LT9DYtRl3wmZ2zCGN8JjO0HO1H
	6rlnyK7Pgr6CBFGUZoHX3wRR6ZwHLh7OuWm9xLEUlVytVr7T49yA3H7sur/coeNc7+yc
	+VSdiaL1VVrZccmsezOi1cgG7Uk2CGJ0oEPvitNF0dj+tNA6oWPIDqk/sDYE57fPR2dN
	cc+UuvYNRwj6m0uGi4rbkkBWmYWtsSjjYtNLj4HLqy5lHvhcnxF1bzn9Z0f8X+qpxUkj
	6aRI9VHMEBSPZknFyZjKen9UT638pK9ZZOKZ9NH9BP4BiwjazK0UVsoAAAAASUVORK5C
	YII=
	</data>
	<key>icon_title</key>
	<string>Pretzel</string>
	<key>newOrder</key>
	<array>
		<dict>
			<key>name</key>
			<string>Turn on  "Use Experimental Gameplay" in your world.</string>
			<key>type</key>
			<string>string_info</string>
			<key>value</key>
			<string></string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>5</integer>
			<key>has_command</key>
			<true/>
			<key>is_id</key>
			<true/>
			<key>name</key>
			<string>ID</string>
			<key>type</key>
			<string>string_editable</string>
			<key>value</key>
			<string>pretzel</string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>6</integer>
			<key>name</key>
			<string>Name</string>
			<key>type</key>
			<string>string_editable</string>
			<key>use_as_filename</key>
			<true/>
			<key>value</key>
			<string>Pretzel</string>
		</dict>
		<dict>
			<key>check_not_emty</key>
			<integer>7</integer>
			<key>name</key>
			<string>Skin</string>
			<key>possible_values</key>
			<array>
				<string>food_001.png</string>
				<string>food_002.png</string>
				<string>food_003.png</string>
				<string>food_004.png</string>
				<string>food_005.png</string>
				<string>food_006.png</string>
				<string>food_007.png</string>
				<string>food_008.png</string>
				<string>food_009.png</string>
				<string>food_010.png</string>
				<string>food_011.png</string>
				<string>food_012.png</string>
				<string>food_013.png</string>
				<string>food_014.png</string>
				<string>food_015.png</string>
				<string>food_016.png</string>
				<string>food_017.png</string>
				<string>food_018.png</string>
				<string>food_019.png</string>
				<string>food_020.png</string>
				<string>food_021.png</string>
				<string>food_022.png</string>
				<string>food_023.png</string>
				<string>food_024.png</string>
				<string>food_025.png</string>
				<string>food_026.png</string>
				<string>food_027.png</string>
				<string>food_028.png</string>
				<string>food_029.png</string>
				<string>food_030.png</string>
				<string>food_031.png</string>
				<string>food_032.png</string>
				<string>food_033.png</string>
				<string>food_034.png</string>
				<string>food_035.png</string>
				<string>food_036.png</string>
				<string>food_037.png</string>
				<string>food_038.png</string>
				<string>food_039.png</string>
				<string>food_040.png</string>
				<string>food_041.png</string>
				<string>food_042.png</string>
				<string>food_043.png</string>
				<string>food_044.png</string>
				<string>food_045.png</string>
				<string>food_046.png</string>
				<string>food_047.png</string>
				<string>food_048.png</string>
				<string>food_049.png</string>
				<string>food_050.png</string>
				<string>food_051.png</string>
				<string>food_052.png</string>
				<string>food_053.png</string>
				<string>food_054.png</string>
				<string>food_055.png</string>
				<string>food_056.png</string>
				<string>food_057.png</string>
				<string>food_058.png</string>
				<string>food_059.png</string>
				<string>food_060.png</string>
				<string>food_061.png</string>
				<string>food_062.png</string>
				<string>food_063.png</string>
				<string>food_064.png</string>
				<string>food_065.png</string>
				<string>food_066.png</string>
				<string>food_067.png</string>
				<string>food_068.png</string>
				<string>food_069.png</string>
				<string>food_070.png</string>
				<string>food_071.png</string>
				<string>food_072.png</string>
				<string>food_073.png</string>
				<string>food_074.png</string>
				<string>food_075.png</string>
				<string>food_076.png</string>
				<string>food_077.png</string>
				<string>food_078.png</string>
				<string>food_079.png</string>
				<string>food_080.png</string>
				<string>food_081.png</string>
				<string>food_082.png</string>
				<string>food_083.png</string>
				<string>food_084.png</string>
				<string>food_085.png</string>
				<string>food_086.png</string>
				<string>food_087.png</string>
				<string>food_088.png</string>
				<string>food_089.png</string>
				<string>food_090.png</string>
				<string>food_091.png</string>
				<string>food_092.png</string>
				<string>food_093.png</string>
				<string>food_094.png</string>
				<string>food_095.png</string>
				<string>food_096.png</string>
				<string>food_097.png</string>
				<string>food_098.png</string>
				<string>food_099.png</string>
				<string>food_100.png</string>
				<string>food_101.png</string>
				<string>food_102.png</string>
				<string>food_103.png</string>
				<string>food_104.png</string>
				<string>food_105.png</string>
				<string>food_106.png</string>
				<string>food_107.png</string>
				<string>food_108.png</string>
				<string>food_109.png</string>
				<string>food_110.png</string>
				<string>food_111.png</string>
				<string>food_112.png</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>food_004</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Foil</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Can Always Eat</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Use Animation</string>
			<key>possible_values</key>
			<array>
				<string>eat</string>
				<string>drink</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>eat</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Convert After Using</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>name</key>
					<string>Converts To</string>
					<key>type</key>
					<string>string_selectable</string>
					<key>value</key>
					<string>minecraft:glass_bottle</string>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>expandable</key>
			<true/>
			<key>food_values</key>
			<dict>
				<key>absorption</key>
				<dict>
					<key>amplifier</key>
					<integer>1</integer>
					<key>chance</key>
					<real>1</real>
					<key>duration</key>
					<integer>30</integer>
				</dict>
			</dict>
			<key>name</key>
			<string>Effects</string>
			<key>possible_values</key>
			<array>
				<string>speed</string>
				<string>slowness</string>
				<string>haste</string>
				<string>mining_fatigue</string>
				<string>strength</string>
				<string>instant_health</string>
				<string>instant_damage</string>
				<string>jump_boost</string>
				<string>nausea</string>
				<string>regeneration</string>
				<string>resistance</string>
				<string>fire_resistance</string>
				<string>water_breathing</string>
				<string>invisibility</string>
				<string>blindness</string>
				<string>night_vision</string>
				<string>hunger</string>
				<string>weakness</string>
				<string>poison</string>
				<string>wither</string>
				<string>health_boost</string>
				<string>absorption</string>
				<string>saturation</string>
				<string>levitation</string>
				<string>fatal_poison</string>
				<string>conduit_power</string>
				<string>slow_falling</string>
				<string>bad_omen</string>
				<string>village_hero</string>
			</array>
			<key>type</key>
			<string>select_multiple</string>
			<key>value</key>
			<array>
				<string>absorption</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Remove Effects</string>
			<key>possible_values</key>
			<array>
				<string>speed</string>
				<string>slowness</string>
				<string>haste</string>
				<string>mining_fatigue</string>
				<string>strength</string>
				<string>instant_health</string>
				<string>instant_damage</string>
				<string>jump_boost</string>
				<string>nausea</string>
				<string>regeneration</string>
				<string>resistance</string>
				<string>fire_resistance</string>
				<string>water_breathing</string>
				<string>invisibility</string>
				<string>blindness</string>
				<string>night_vision</string>
				<string>hunger</string>
				<string>weakness</string>
				<string>poison</string>
				<string>wither</string>
				<string>health_boost</string>
				<string>absorption</string>
				<string>saturation</string>
				<string>levitation</string>
				<string>fatal_poison</string>
				<string>conduit_power</string>
				<string>slow_falling</string>
				<string>bad_omen</string>
				<string>village_hero</string>
			</array>
			<key>type</key>
			<string>select_multiple</string>
			<key>value</key>
			<array/>
		</dict>
		<dict>
			<key>name</key>
			<string>On Use Action</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>name</key>
					<string>Randomize</string>
					<key>type</key>
					<string>bool</string>
					<key>value</key>
					<false/>
				</dict>
				<dict>
					<key>is_function</key>
					<true/>
					<key>name</key>
					<string>Action</string>
					<key>need_image</key>
					<false/>
					<key>possible_values</key>
					<array>
						<string>example_function</string>
					</array>
					<key>type</key>
					<string>select_multiple</string>
					<key>value</key>
					<string>example_function</string>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Teleport</string>
			<key>sub_element</key>
			<array>
				<dict>
					<key>max_value</key>
					<integer>64</integer>
					<key>min_value</key>
					<integer>1</integer>
					<key>name</key>
					<string>Range</string>
					<key>type</key>
					<string>integer</string>
					<key>value</key>
					<integer>8</integer>
				</dict>
			</array>
			<key>type</key>
			<string>bool_expandable</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Hand Equipped</string>
			<key>type</key>
			<string>bool</string>
			<key>value</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Saturation</string>
			<key>possible_values</key>
			<array>
				<string>poor</string>
				<string>low</string>
				<string>normal</string>
				<string>good</string>
				<string>high</string>
				<string>supernatural</string>
			</array>
			<key>type</key>
			<string>select_single</string>
			<key>value</key>
			<string>normal</string>
		</dict>
		<dict>
			<key>max_value</key>
			<string>1024</string>
			<key>min_value</key>
			<integer>0</integer>
			<key>name</key>
			<string>Use Duration</string>
			<key>type</key>
			<string>float</string>
			<key>value</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>max_value</key>
			<integer>14</integer>
			<key>min_value</key>
			<integer>0</integer>
			<key>name</key>
			<string>Nutrition</string>
			<key>type</key>
			<string>float</string>
			<key>value</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>max_value</key>
			<integer>64</integer>
			<key>min_value</key>
			<integer>1</integer>
			<key>name</key>
			<string>Max Stack Size</string>
			<key>type</key>
			<string>integer</string>
			<key>value</key>
			<real>63</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Crafting Recipe</string>
			<key>type</key>
			<string>recipe</string>
			<key>value</key>
			<string>#,#,#,#,#,#,#,#,#</string>
			<key>value_on</key>
			<false/>
		</dict>
	</array>
	<key>personalized</key>
	<dict>
		<key>configuration_file</key>
		<string>foodCreationSettings</string>
		<key>image</key>
		<string>food_040.png</string>
		<key>json_file</key>
		<string>new_weapon.json</string>
		<key>name</key>
		<string>Food</string>
	</dict>
	<key>version</key>
	<integer>5</integer>
</dict>
</plist>
